<%
  add_app_component_stylesheet("banner")

  title ||= false
  aside ||= false
  local_assigns[:margin_bottom] ||= 7

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("app-c-banner")
  component_helper.add_aria_attribute({ label: "Notice" })
  component_helper.set_lang("en")
  component_helper.add_data_attribute({ module: "ga4-link-tracker" })
  component_helper.add_data_attribute({ ga4_track_links_only: "" })
  component_helper.add_data_attribute({ ga4_link: { event_name: "navigation", type: "callout" } })
%>
<% content_block = capture do %>
  <% if title %>
    <h2 class="app-c-banner__title"><%= title %></h2>
  <% end %>
  <p class="app-c-banner__text">
    <%= text %>
  </p>
<% end %>
<%= tag.section(**component_helper.all_attributes) do %>
  <%= content_block %>
  <% if aside %>
    <p class="app-c-banner__text"><%= aside %></p>
  <% end %>
<% end %>
