<% if defined?(title) %>
  <%
    description_text ||= false
    description_govspeak ||= false
    margin_bottom ||= 1
    margin_bottom_class = "app-c-notice--bottom-margin" if margin_bottom == 1
  %>
  <section class="app-c-notice <%= margin_bottom_class %>" aria-label="Notice">
    <% if description_text || description_govspeak %>
      <h2 class="app-c-notice__title"><%= title %></h2>
    <% else %>
      <span class="app-c-notice__title"><%= title %></span>
    <% end %>

    <% if description_text %>
      <p class="app-c-notice__description"><%= description_text %></p>
    <% end %>

    <% if description_govspeak %>
      <%= render 'govuk_component/govspeak', content: description_govspeak %>
    <% end %>
  </section>
<% end %>
