<%
  published ||= false
  last_updated ||= false
  link_to_history ||= false
  other ||= {}
  other_has_values = other.values.compact.reject(&:blank?).any?
  metadata = [published, last_updated]
%>
<% if metadata.any? || other_has_values %>
  <div class="app-c-publisher-metadata" lang="en">
    <%= render 'components/published-dates', published: published, last_updated: last_updated, link_to_history: link_to_history %>
    <% if other_has_values %>
      <div class="app-c-publisher-metadata__other">
        <dl data-module="track-click">
        <% other.each do |title, values| %>
          <%
            values ||= []
            values = Array(values)
            toggle_id = "app-c-publisher-metadata__definition--#{title.to_s.parameterize(separator: '-')}"
          %>
          <% if values.any? %>
            <dt class="app-c-publisher-metadata__term">
              <%= title.to_s.humanize %>:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
              <% if title.to_sym == :collections %>
                <% if values.size <= 2 %>
                  <span class="app-c-publisher-metadata__definition-sentence">
                    <%= values.take(2).to_sentence(locale: :en).html_safe %>
                  </span>
                <% else %>
                  <% featured_value, *other_values = values %>
                  <span class="app-c-publisher-metadata__definition-sentence">
                    <%= featured_value.html_safe %>, <span class="app-c-publisher-metadata__definition-others">and <%= pluralize(other_values.size, 'other') %></span>
                  </span>
                  <a href="#"
                    class="app-c-publisher-metadata__toggle"
                    data-controls="<%= toggle_id %>"
                    data-expanded="false"
                    data-toggled-text="&minus; <%= t('components.publisher_metadata.hide_all') %>">
                    + <%= t('components.publisher_metadata.show_all') %>
                  </a>
                  <span id="<%= toggle_id %>" class="js-hidden"><%= other_values.to_sentence(locale: :en).html_safe %></span>
                <% end %>
              <% else %>
                <span class="app-c-publisher-metadata__definition-sentence">
                  <%= values.to_sentence(locale: :en).html_safe %>
                </span>
              <% end %>
            </dd>
          <% end %>
        <% end %>
        </dl>
      </div>
    <% end %>
  </div>
<% end %>
