<%
  id_prefix ||= "radio-#{SecureRandom.hex(4)}"
  items ||= []
%>
<% items.each_with_index do |item, index| %>
  <% if item === :or %>
    <span class="app-c-radio__block-text">
      <%= t('components.radio.or') %>
    </span>
  <% else %>
    <%
      label_id = item[:id] ? item[:id] : "#{id_prefix}-#{index}"
      item_next = items[index + 1] unless index === items.size - 1
    %>
    <div
      class="
        app-c-radio
        <%= 'app-c-radio--margin-bottom-0' if item_next === :or %>
      "
    >
      <input
        class="app-c-radio__input"
        id="<%= label_id %>"
        name="<%= name %>"
        type="radio"
        value="<%= item[:value] %>"
        <%= "checked" if item[:checked] %>
      >
      <%= render "components/label", {
        html_for: label_id,
        classes: 'app-c-radio__label',
        hint_text: item[:hint_text],
        text: item[:text],
        bold: item[:bold]
      } %>
    </div>
  <% end %>
<% end %>
