<%
  id_prefix ||= "radio-#{SecureRandom.hex(4)}"
  items ||= []
%>
<% items.each_with_index do |item, index| %>
  <% label_id = item[:id] ? item[:id] : "#{id_prefix}-#{index}" %>
  <div class="app-c-radio">
    <input
      class="app-c-radio__input"
      id="<%= label_id %>"
      name="<%= name %>"
      type="radio"
      value="<%= item[:value] %>"
      <%= "checked" if item[:checked] %>
      <%= "disabled" if item[:disabled] %>
    >
    <%= render "components/label", {
      html_for: label_id,
      classes: 'app-c-radio__label',
      hint_text: item[:hint_text],
      text: item[:text],
      bold: item[:bold]
    } %>
  </div>
<% end %>
