<%
  defined_sections = ["topics", "publishers", "collections", "policies"]
  related_content = [
    {"related_items" => related_items ||= [] },
    {"topics" => topics ||= [] },
    {"publishers" => publishers ||= [] },
    {"collections" => collections ||= [] },
    {"policies" => policies ||= [] },
  ]
  other ||= []
  format_data_for_related_navigation(related_content, other)
%>
<% if related_content.map(&:values).flatten.any? || other.any? %>
  <aside class="app-c-related-navigation" role="complementary">
    <h2 id="related-nav-related_items" class="app-c-related-navigation__main-heading" >
      <%= t('components.related_navigation.related_content') %>
    </h2>
    <% related_content.each do |section| %>
      <% section.each do |section_title, links| %>
        <% if links.any?%>
          <% unless section_title === "related_items" %>
            <h3 id="related-nav-<%= section_title %>" class="
              app-c-related-navigation__sub-heading
              app-c-related-navigation__sub-heading<%= construct_section_styling(section_title, defined_sections) %>"
            >
              <%= construct_section_heading(section_title) %>
            </h3>
          <% end %>
          <nav role="navigation" class="app-c-related-navigation__nav-section" aria-labelledby="related-nav-<%= section_title %>">
            <ul class="app-c-related-navigation_link-list">
              <% links.each do |link| %>
                <li class="app-c-related-navigation__link">
                  <%= link_to link[:text], link[:path], class: "app-c-related-navigation__section-link" + construct_section_styling(section_title, defined_sections), rel: link[:rel] %>
                </li>
              <% end %>
            </ul>
          </nav>
        <% end %>
      <% end %>
    <% end %>
  </aside>
<% end %>
