<% locals = { organisation: @content_item.organisation_logo, inline: true, heading_level: 1 }
    if @content_item.display_page_title?
      locals.merge!(margin_bottom: 9)
      locals.delete(:heading_level)
    end
%>

<header class="worldwide-organisation-header govuk-grid-row">
  <div class="govuk-grid-column-two-thirds worldwide-organisation-header__logo">
    <%= render "govuk_publishing_components/components/organisation_logo", locals %>
     <% if @content_item.display_page_title? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: @content_item.title,
          heading_level: 1,
          font_size: "l",
          margin_bottom: 5,
        } %>
      <% end %>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-padding-top-2">
    <% if @content_item.available_translations.length > 1 %>
      <%= render 'govuk_publishing_components/components/translation_nav',
        translations: @content_item.available_translations %>
    <% end %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full worldwide-organisation-header__metadata">
        <dl>
          <% if worldwide_organisation&.world_location_links.present? %>
            <dt><%= t('worldwide_organisation.location') %>:</dt>
            <dd data-module="hide-other-links"><%= worldwide_organisation.world_location_links %></dd>
          <% end %>

          <% if worldwide_organisation&.sponsoring_organisation_links.present? %>
            <dt><%= t('worldwide_organisation.part_of') %>:</dt>
            <dd lang="en"><%= worldwide_organisation&.sponsoring_organisation_links %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</header>
