<%
def related_stuff(rummager_args)
  results = Services.rummager.search({ count: 5, fields: %w[title public_timestamp link content_store_document_type]}.merge(rummager_args))["results"]

  items = results.map do |r|
    {
      link: { text: r["title"], path: r["link"] },
      metadata: { public_updated_at: Time.parse(r["public_timestamp"]), document_type: "other" }
    }
  end

  { items: items }
end
%>

<% if @content_item.publishing_organisation %>
  <h2 class="app-c-related-navigation__main-heading">Popular pages published by <%= @content_item.publishing_organisation["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_organisation_content_ids: @content_item.publishing_organisation["content_id"]
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Recent pages published by <%= @content_item.publishing_organisation["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_organisation_content_ids: @content_item.publishing_organisation["content_id"],
    order: '-public_timestamp'
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Related pages published by <%= @content_item.publishing_organisation["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_organisation_content_ids: @content_item.publishing_organisation["content_id"],
    similar_to: @content_item.base_path
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Popular pages with document type <%= @content_item.document_type %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_content_store_document_type: @content_item.document_type,
  ) %>
<% end %>

<% if @content_item.document_type %>

  <h2 class="app-c-related-navigation__main-heading">Recent pages with document type <%= @content_item.document_type %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_content_store_document_type: @content_item.document_type,
    order: '-public_timestamp'
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Related pages with document type <%= @content_item.document_type %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_content_store_document_type: @content_item.document_type,
    similar_to: @content_item.base_path
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Popular pages with document type <%= @content_item.document_type %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_content_store_document_type: @content_item.document_type,
  ) %>
<% end %>

<% if @content_item.policy %>
  <h2 class="app-c-related-navigation__main-heading">Recent pages with policy <%= @content_item.policy["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_policies: @content_item.policy["base_path"].gsub("/government/policies/", ""),
    order: '-public_timestamp'
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Related pages with policy <%= @content_item.policy["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_policies: @content_item.policy["base_path"].gsub("/government/policies/", ""),
    similar_to: @content_item.base_path
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Popular pages with policy <%= @content_item.policy["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_policies: @content_item.policy["base_path"].gsub("/government/policies/", ""),
  ) %>
<% end %>

<% if @content_item.person %>
  <h2 class="app-c-related-navigation__main-heading">Recent pages from <%= @content_item.person["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_people: @content_item.person["base_path"].gsub("/government/people/", ""),
    order: '-public_timestamp'
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Related pages from <%= @content_item.person["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_people: @content_item.person["base_path"].gsub("/government/people/", ""),
    similar_to: @content_item.base_path
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Popular pages from <%= @content_item.person["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_people: @content_item.person["base_path"].gsub("/government/people/", ""),
  ) %>
<% end %>

<% if @content_item.taxon %>
  <h2 class="app-c-related-navigation__main-heading">Recent pages with taxon <%= @content_item.taxon["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_taxons: @content_item.taxon["content_id"],
    order: '-public_timestamp'
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Related pages with taxon <%= @content_item.taxon["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_taxons: @content_item.taxon["content_id"],
    similar_to: @content_item.base_path
  ) %>

  <h2 class="app-c-related-navigation__main-heading">Popular pages with taxon <%= @content_item.taxon["title"] %></h2>

  <%= render "components/document-list", related_stuff(
    reject_link: @content_item.base_path,
    filter_taxons: @content_item.taxon["content_id"],
  ) %>
<% end %>
