<% content_for :head do %>
  <%= stylesheet_link_tag "views/_published-dates-button-group", media: "all" %>
<% end %>
<% skip_account = skip_account || false %>

<%= render 'govuk_publishing_components/components/published_dates', {
    published: @content_item.published,
    last_updated: @content_item.updated,
    history: @content_item.history,
    margin_bottom: 5,
  } %>

<div class="published-dates-button-group">
  <h2 class="govuk-visually-hidden">
    <% if @content_item.display_single_page_notification_button? %>
      <%= I18n.t("common.email_and_print_link") %>
    <% else %>
      <%= I18n.t("common.print_link") %>
    <% end %>
  </h2>

  <%= render 'govuk_publishing_components/components/single_page_notification_button', {
    base_path: @content_item.base_path,
    js_enhancement: @has_govuk_account,
    button_location: "bottom",
    margin_bottom: 3,
    skip_account: skip_account,
    ga4_data_attributes: {
      module: "ga4-link-tracker",
      ga4_link: {
        event_name: "navigation",
        type: "subscribe",
        index_link: 2,
        index_total: 2,
        section: "Footer"
      }
    }
  } if @content_item.display_single_page_notification_button? %>
  <%= render "govuk_publishing_components/components/print_link", {
    margin_bottom: 8,
  } %>
</div>

