<% if taxonomy_navigation.values().flatten.any? %>
  <div class="taxonomy-navigation" data-module="track-click">
    <h2>More in
      <% tagged_taxons.each do |tagged_taxon| %>
        <a class="taxonomy-navigation__title-link" href="<%= tagged_taxon[:taxon_link] %>"><%= tagged_taxon[:taxon_name] %></a>
      <% end %>
    </h2>

    <% if taxonomy_navigation[:services].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('supergroups.services'),
          heading_level: 3,
          font_size: 24,
          margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/highlight_boxes", {
          inverse: true,
          items: taxonomy_navigation[:services][:promoted_content]
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
          items: taxonomy_navigation[:services][:documents]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:guidance_and_regulation].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.guidance_and_regulation'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:guidance_and_regulation]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:news_and_communication].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('supergroups.news_and_communications'),
          heading_level: 3,
          font_size: 24,
          margin_bottom: 2
        } %>

        <% taxonomy_navigation[:news_and_communication][:promoted_content].in_groups_of(3, false) do |promo_group| %>
          <div class="grid-row">
          <% promo_group.each do |promo| %>
            <div class="column-one-third">
              <%= render "govuk_publishing_components/components/image_card", {
                context: promo[:image][:context],
                href: promo[:link][:path],
                heading_text: promo[:link][:text],
                image_src: promo[:image][:url],
                image_alt: promo[:image][:alt],
                heading_level: 0,
                href_data_attributes: promo[:link][:data_attributes]
                } %>
            </div>
          <% end %>
          </div>
        <% end %>

        <%= render "govuk_publishing_components/components/document_list", {
          items: taxonomy_navigation[:news_and_communication][:documents]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:policy_and_engagement].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.policy_and_engagement'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:policy_and_engagement]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:transparency].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.transparency'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:transparency]
        } %>
      </div>
    <% end %>

  </div>
<% end %>
