<% if taxonomy_navigation.values().flatten.any? %>
  <div class="taxonomy-navigation" data-module="track-click" lang="en">
    <div class="taxonomy-navigation__row">
      <div class="taxonomy-navigation__column">
        <%= render "govuk_publishing_components/components/heading",
          text: t('supergroups.topics'),
          heading_level: 2,
          font_size: 19
        %>
        <ul>
          <% tagged_taxons.each_with_index do |tagged_taxon, index| %>
            <li class="taxonomy-navigation__list-item">
              <%= link_to(
                tagged_taxon[:taxon_name],
                tagged_taxon[:taxon_link],
                data: {
                  "track-category": "relatedTaxonomyLinkClicked",
                  "track-action": "1.#{index} Topics",
                  "track-label": tagged_taxon[:taxon_link],
                  "track-options": {
                    dimension29: tagged_taxon[:taxon_name]
                  }
                }
              ) %>
            </li>
          <% end %>
        </ul>
      </div>

      <% if related_collections.any? %>
        <div class="taxonomy-navigation__column">
          <%= render "govuk_publishing_components/components/heading",
                     text: t('supergroups.collections'),
                     heading_level: 2,
                     font_size: 19 %>
          <ul>
            <% related_collections.each_with_index do |collection, index| %>
              <li class="taxonomy-navigation__list-item">
                <%= link_to(
                  collection[1],
                  collection[0],
                  data: {
                    "track-category": "relatedTaxonomyLinkClicked",
                    "track-action": "2.#{index} Collections",
                    "track-label": collection[0],
                    "track-options": {
                      dimension29: collection[1]
                    }
                  }
                ) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <% if taxonomy_navigation[:services].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('supergroups.services'),
          heading_level: 3,
          font_size: 24,
          margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/highlight_boxes", {
          inverse: true,
          items: taxonomy_navigation[:services]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:guidance_and_regulation].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.guidance_and_regulation'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:guidance_and_regulation]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:news_and_communications].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('supergroups.news_and_communications'),
          heading_level: 3,
          font_size: 24,
          margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:news_and_communications]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:policy_and_engagement].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.policy_and_engagement'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:policy_and_engagement]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:transparency].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.transparency'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:transparency]
        } %>
      </div>
    <% end %>

  </div>
<% end %>
