<% if taxonomy_navigation.values().flatten.any? %>
  <div class="taxonomy-navigation">
    <h2>More in
      <% tagged_taxons.each do |tagged_taxon| %>
        <a class="taxonomy-navigation__title-link" href="<%= tagged_taxon[:taxon_link] %>"><%= tagged_taxon[:taxon_name] %></a>
      <% end %>
    </h2>

    <% if taxonomy_navigation[:services].any? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('supergroups.services'),
          heading_level: 3,
          font_size: 24,
          margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/highlight_boxes", {
          inverse: true,
          items: taxonomy_navigation[:services][:promoted_content]
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
          items: taxonomy_navigation[:services][:documents]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:news_and_communications].any? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.news_and_communications'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/highlight_boxes", {
            inverse: true,
            items: taxonomy_navigation[:news_and_communications]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:transparency].any? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.transparency'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/highlight_boxes", {
            inverse: true,
            items: taxonomy_navigation[:transparency]
        } %>
      </div>
    <% end %>
  </div>
<% end %>
