<% if taxonomy_navigation.values().flatten.any? %>
  <div class="taxonomy-navigation" data-module="track-click">
    <h2>More in
      <% tagged_taxons.each do |tagged_taxon| %>
        <a class="taxonomy-navigation__title-link" href="<%= tagged_taxon[:taxon_link] %>"><%= tagged_taxon[:taxon_name] %></a>
      <% end %>
    </h2>

    <% if taxonomy_navigation[:services].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('supergroups.services'),
          heading_level: 3,
          font_size: 24,
          margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/highlight_boxes", {
          inverse: true,
          items: taxonomy_navigation[:services][:promoted_content]
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
          items: taxonomy_navigation[:services][:documents]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:guidance_and_regulation].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.guidance_and_regulation'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:guidance_and_regulation]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:policy_and_engagement].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.policy_and_engagement'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:policy_and_engagement]
        } %>
      </div>
    <% end %>

    <% if taxonomy_navigation[:transparency].present? %>
      <div class="taxonomy-navigation__section">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('supergroups.transparency'),
            heading_level: 3,
            font_size: 24,
            margin_bottom: 2
        } %>

        <%= render "govuk_publishing_components/components/document_list", {
            items: taxonomy_navigation[:transparency]
        } %>
      </div>
    <% end %>

  </div>
<% end %>
