<% if content_item.alert_status.present? %>
  <% alert_body = capture do %>
    <div class="help-notice">
      <%= content_item.alert_status %>
    </div>
  <% end %>
  <%= render 'govuk_publishing_components/components/govspeak',
      content: alert_body,
      direction: page_text_direction %>
<% end %>

<%= render 'govuk_publishing_components/components/metadata', content_item.metadata %>
<% if content_item.map %>
  <figure class="map">
    <img src="<%= content_item.map["url"] %>" alt="<%= content_item.map["alt_text"] %>" class="map-image">
    <% if content_item.map_download_url %>
      <figcaption>
        <%= render 'components/download-link', href: content_item.map_download_url, link_text: "Download map (PDF)" %>
      </figcaption>
    <% end %>
  </figure>
<% end %>
