<% if content_item.alert_status.present? %>
  <%= render 'govuk_publishing_components/components/govspeak', {
    direction: page_text_direction,
  } do %>
    <div class="help-notice">
      <%= sanitize(content_item.alert_status) %>
    </div>
  <% end %>
<% end %>

<%= render 'govuk_publishing_components/components/metadata', content_item.metadata %>
<% if content_item.map %>
  <figure class="map">
    <img src="<%= content_item.map["url"] %>" alt="<%= content_item.map["alt_text"] %>" class="map-image">
    <% if content_item.map_download_url %>
      <figcaption>
        <%= render 'components/download-link', href: content_item.map_download_url, link_text: "Download map (PDF)" %>
      </figcaption>
    <% end %>
  </figure>
<% end %>
