<% if legacy_pre_rendered_documents.present? || attachments.any? %>
  <section id="<%= title.parameterize %>">
    <%= render 'govuk_publishing_components/components/heading',
        text: title,
        mobile_top_margin: true %>

    <% if legacy_pre_rendered_documents.present? %>
      <%= render 'govuk_publishing_components/components/govspeak', {
        direction: page_text_direction,
      } do %>
        <%= sanitize(legacy_pre_rendered_documents, {
          attributes: %w(alt class data-module href id src),
          tags: %w(a details div h2 img p section span summary),
        }) %>
      <% end %>
    <% else %>
      <% attachments.each do |attachment_id| %>
        <div class="attachment">
          <%= render 'govuk_publishing_components/components/attachment',
              attachment: @content_item.attachment_details(attachment_id) %>
        </div>
      <% end %>
    <% end %>

  </section>
<% end %>
