<%
  attachments ||= nil
  attachments_html ||= nil
  featured_attachments ||= []
  attachment_details = featured_attachments.filter_map { |id| @content_item&.attachment_details(id) }
%>
<% if attachments || attachments_html %>
  <section id="<%= title.parameterize %>">
    <%= render 'govuk_publishing_components/components/heading',
        text: title,
        mobile_top_margin: true %>

    <% add_gem_component_stylesheet("details") %>
    <% if attachments %>
      <% attachments.each do |details| %>
        <%= render 'govuk_publishing_components/components/attachment', {
          heading_level: 3,
          attachment: details,
          margin_bottom: 6
        } %>
      <% end %>
    <% elsif attachments_html %>
      <%= render 'govuk_publishing_components/components/govspeak', {
        direction: page_text_direction,
      } do %>
        <%= raw(attachments_html) %>
      <% end %>
    <% else %>
      <% attachment_details.each do |details| %>
        <%= render 'govuk_publishing_components/components/attachment', {
          heading_level: 3,
          attachment: details,
          margin_bottom: 6
        } %>
      <% end %>
    <% end %>
  </section>
<% end %>
