<% attachments ||= [] %>
<% attachment_details = attachments.filter_map { |id| @content_item&.attachment_details(id) } %>
<% if legacy_pre_rendered_documents.present? || attachment_details.any? %>
  <section id="<%= title.parameterize %>">
    <%= render 'govuk_publishing_components/components/heading',
        text: title,
        mobile_top_margin: true %>

    <% if legacy_pre_rendered_documents.present? %>
      <%= render 'govuk_publishing_components/components/govspeak', {
        direction: page_text_direction,
      } do %>
        <%= raw(legacy_pre_rendered_documents) %>
      <% end %>
    <% else %>
      <% attachment_details.each do |details| %>
        <div class="govuk-!-static-margin-bottom-6">
          <%= render 'govuk_publishing_components/components/attachment', {
            heading_level: 3,
            attachment: details
          } %>
        </div>
      <% end %>
    <% end %>
  </section>
<% end %>
