<% content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_publishing_components/components/title',
        title: @content_item.title,
        context: ({ text: @content_item.taxons.first["title"], href: @content_item.taxons.first["base_path"] }  if @content_item.taxons) %>
  </div>
</div>

<div class="grid-row responsive-bottom-margin">
  <div class="column-two-thirds">
    <%= render 'govuk_publishing_components/components/govspeak',
      content: raw(@content_item.body),
      direction: page_text_direction,
      disable_youtube_expansions: true,
      rich_govspeak: true %>

    <% if @content_item.last_updated && @content_item.schema_name == "help_page" %>
      <%= render "components/published-dates", {
        last_updated: @content_item.last_updated
      } %>
    <% end %>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>

<% if @content_item.taxons %>
  <%= render 'shared/guidance_can_do_links' %>
<% end %>
