<% content_for :simple_header, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title',
        title: @content_item.title %>
  </div>
</div>

<div class="govuk-grid-row responsive-bottom-margin">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/govspeak', {
      direction: page_text_direction,
      disable_youtube_expansions: true,
    } do %>
      <%= sanitize(@content_item.body) %>
    <% end %>

    <% if @content_item.last_updated && @content_item.schema_name == "help_page" %>
      <%= render "components/published-dates", {
        last_updated: @content_item.last_updated
      } %>
    <% end %>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
