<% content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        title: @content_item.title %>
  </div>
</div>

<div class="grid-row responsive-bottom-margin">
  <div class="column-two-thirds">
    <%= render 'govuk_component/govspeak',
      content: @content_item.body,
      direction: page_text_direction,
      disable_youtube_expansions: true,
      rich_govspeak: true %>

    <% if @content_item.last_updated %>
      <p class="last-updated">
        <%= t 'common.last_updated' %>: <%= @content_item.last_updated %>
      </p>
    <% end %>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>
