<% if @content_item.body.present? %>
  <div class="govuk-!-margin-bottom-8">
  <%= render 'govuk_publishing_components/components/govspeak', @content_item.govspeak_body %>
  </div>
<% end %>

<% @content_item.groups.each do |group| %>
  <%= @content_item.group_heading(group) %>

  <% if group["body"].present? %>
    <%= render 'govuk_publishing_components/components/govspeak', {
        direction: page_text_direction,
      } do %>
      <%= raw(group["body"]) %>
    <% end %>
  <% end %>

  <div class="govuk-!-margin-bottom-8">
    <%= render 'govuk_publishing_components/components/document_list', items: @content_item.group_document_links(group) %>
  </div>
<% end %>
