<% if @content_item.body.present? %>
  <%= render 'govuk_publishing_components/components/govspeak', @content_item.govspeak_body %>
<% end %>

<% @content_item.groups.each_with_index do |group, group_index| %>
  <%= @content_item.group_heading(group) %>

  <% if group["body"].present? %>
    <%= render 'govuk_publishing_components/components/govspeak', {
        direction: page_text_direction,
      } do %>
      <%= sanitize(group["body"]) %>
    <% end %>
  <% end %>

  <div data-module="track-click">
    <%= render 'govuk_publishing_components/components/document_list', items: @content_item.group_document_links(group, group_index) %>
  </div>
<% end %>
