<%= content_for :page_class, @content_item.format.dasherize.pluralize %>
<%= content_for :title, "#{@content_item.page_title} - #{t("content_item.format.#{@content_item.format_display_type}", count: 10)}" %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: t("content_item.format.#{@content_item.format_display_type}", count: 10),
        title: @content_item.title %>
  </div>

  <% if @content_item.archived? %>
    <div class="archive-notice">
      <h2>This <%= t("content_item.format.#{@content_item.format_display_type}", count: 1).downcase %> was archived on <%= @content_item.archive_notice[:time] %></h2>
      <%= render 'govuk_component/govspeak', content: @content_item.archive_notice[:explanation] %>
    </div>
  <% end %>

  <div class="column-two-thirds">
    <%= render 'govuk_component/metadata',
        from: @content_item.from,
        updated: @content_item.updated,
        history: @content_item.short_history,
        published: @content_item.published,
        direction: page_text_direction,
        part_of: @content_item.part_of
    %>
  </div>
</div>

<p class="description"><%= @content_item.description %></p>

<div class="grid-row">
  <div class="column-third">
    <% if @content_item.image %>
      <figure class="sidebar-image">
        <img src="<%= @content_item.image["url"] %>" alt="<%= @content_item.image["alt_text"] %>">
        <figcaption><%= @content_item.image["caption"] %></figcaption>
      </figure>
    <% end %>
  </div>
  <div class="column-two-thirds">
    <%= render 'govuk_component/govspeak',
        content: @content_item.body,
        direction: page_text_direction %>
  </div>
</div>

<%= render 'govuk_component/document_footer',
        from: @content_item.from,
        updated: @content_item.updated,
        history: @content_item.history,
        published: @content_item.published,
        direction: page_text_direction,
        part_of: @content_item.part_of
%>
