<%= content_for :page_class, @content_item.format.dasherize.pluralize %>
<%= content_for :title, "#{@content_item.page_title} - #{t("content_item.format.#{@content_item.document_type}", count: 1)}" %>
<%= content_for :meta_description, @content_item.description %>

<%= render "shared/breadcrumbs" %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: t("content_item.format.#{@content_item.document_type}", count: 1),
        title: @content_item.title,
        average_title_length: 'long' %>
  </div>

  <div class="column-third">
  <%= render 'shared/available_languages',
    translations: @content_item.available_translations
  %>
  </div>
</div>

<%= render 'shared/withdrawal_notice', content_item: @content_item %>
<%= render 'shared/metadata', content_item: @content_item %>
<%= render 'shared/description', description: @content_item.description %>
<%= render 'shared/sidebar_with_body', content_item: @content_item %>
<%= render 'govuk_component/document_footer', @content_item.document_footer %>
