<% content_for :head do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<%= render 'shared/email_subscribe_unsubscribe_flash', { title: @content_item.heading_and_context[:text] } %>


<div class="govuk-grid-row translation-nav-header">
  <div class="govuk-grid-column-two-thirds translation-nav-header__child">
    <%= render 'govuk_publishing_components/components/heading', @content_item.heading_and_context %>
  </div>
  <%= render 'shared/translations' %>
</div>

<%= render 'shared/publisher_metadata_with_logo', content_item: @content_item %>
<%= render 'shared/single_page_notification_button', content_item: @content_item %>

<%= render 'shared/history_notice', content_item: @content_item %>
<% if @content_item.withdrawn? %>
  <%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @content_item.national_applicability.present? %>
      <%= render "govuk_publishing_components/components/devolved_nations", {
        national_applicability: @content_item.national_applicability,
        content_type: @content_item.schema_name,
      } %>
    <% end %>

    <% if @content_item.unopened? %>
      <% content_item_unopened = capture do %>
        <%= t("consultation.opens") %>
        <%= @content_item.opening_date_midnight? ? t("consultation.on") : t("consultation.at") %>
        <time datetime="<%= @content_item.opening_date_time %>"><%= @content_item.opening_date %></time>
      <% end %>
      <%= render 'govuk_publishing_components/components/notice', {
        title: t("consultation.not_open_yet"),
        description_text: content_item_unopened,
      } %>

    <% elsif @content_item.pending_final_outcome? %>
      <% content_item_final_outcome = capture do %>
        <%= t("consultation.visit_soon") %>
      <% end %>
      <%= render 'govuk_publishing_components/components/notice',
        title: t("consultation.analysing_feedback"),
        description_text: content_item_final_outcome
      %>

    <% elsif @content_item.final_outcome? %>
      <%= render 'govuk_publishing_components/components/notice', title: t("consultation.concluded") %>

      <%= render "attachments_list",
        title: t("consultation.download_outcome"),
        attachments_for_components: @content_item.final_outcome_attachments_for_components
      %>
      <%= render 'govuk_publishing_components/components/heading', {
        text: t("consultation.detail_of_outcome"),
        margin_bottom: 4,
      } %>
      <div class="consultation-outcome-detail">
        <%= render 'govuk_publishing_components/components/govspeak', {
          direction: page_text_direction,
        } do %>
          <%= raw(@content_item.final_outcome_detail) %>
        <% end %>
      </div>
    <% end %>

    <%= render "attachments_list",
      title: t("consultation.feedback_received"),
      attachments_for_components: @content_item.public_feedback_attachments_for_components
    %>
    <% if @content_item.public_feedback_detail %>
      <%= render 'govuk_publishing_components/components/heading', {
        margin_bottom: 4,
        text: t("consultation.detail_of_feedback_received"),
      } %>
      <div class="consultation-feedback">
        <%= render 'govuk_publishing_components/components/govspeak', {
          direction: page_text_direction,
        } do %>
          <%= raw(@content_item.public_feedback_detail) %>
        <% end %>
      </div>
    <% end %>

    <% if @content_item.final_outcome? %>
      <hr class="govuk-section-break govuk-section-break--visible">
      <section class="govuk-!-margin-top-6">
        <header>
          <%= render 'govuk_publishing_components/components/heading', {
            heading_level: 2,
            id: "original-consultation-title",
            margin_bottom: 4,
            text: t("consultation.original_consultation"),
          } %>
        </header>
    <% end %>

    <% consultation_date = capture do %>
      <% if @content_item.closed? %>
        <%= t("consultation.ran_from") %><br /><strong class="consultation-date"><time datetime="<%= @content_item.opening_date_time %>"><%= @content_item.opening_date %></time> to
        <time datetime="<%= @content_item.closing_date_time %>"><%= @content_item.closing_date %></time></strong>
      <% elsif @content_item.open? %>
        <%= t("consultation.closes_at") %><br />
        <strong class="consultation-date"><time datetime="<%= @content_item.closing_date_time %>"><%= @content_item.closing_date %></time></strong>
      <% elsif @content_item.unopened? %>
        <%= t("consultation.opens") %> <%= @content_item.opening_date_midnight? ? t("consultation.on") : t("consultation.at") %><br />
        <strong class="consultation-date"><time datetime="<%= @content_item.opening_date_time %>"><%= @content_item.opening_date %></time></strong><br />
        <%= t("consultation.closes") %><br />
        <strong class="consultation-date"><time datetime="<%= @content_item.closing_date_time %>"><%= @content_item.closing_date %></time></strong>
      <% end %>
    <% end %>

    <% consultation_desc = capture do %>
      <%= @content_item.description %>
      <% if @content_item.held_on_another_website? %>
        <p>
          <strong>
            <%= t("consultation.another_website_html", closed: @content_item.closed? ? t("consultation.was") : t("consultation.is_being"), url: @content_item.held_on_another_website_url) %>.
          </strong>
        </p>
      <% end %>
    <% end %>
    <%= render 'govuk_publishing_components/components/summary_banner', {
      secondary_text: consultation_date,
      text: consultation_desc,
      title: t("consultation.summary"),
    } %>

    <% if @content_item.final_outcome? %>
      </section>
    <% end %>


    <div class="consultation-description">
      <%= render 'govuk_publishing_components/components/heading', {
        margin_bottom: 4,
        text: t("consultation.description"),
      } %>

      <%= render 'govuk_publishing_components/components/govspeak', {} do %>
        <%= raw(@content_item.govspeak_body[:content]) %>
      <% end %>

      <%= render "attachments_list",
        title: t("consultation.documents"),
        attachments_for_components: @content_item.documents_attachments_for_components
      %>
    </div>

    <% if @content_item.ways_to_respond? %>
      <div id="ways-to-respond" class="consultation-ways-to-respond">
        <%= render 'govuk_publishing_components/components/heading', {
          text: t("consultation.ways_to_respond"),
          margin_bottom: 4
        } %>
        <%= render 'govuk_publishing_components/components/govspeak', {
          direction: page_text_direction,
        } do %>
          <% if @content_item.respond_online_url %>
            <div class="call-to-action">
              <p><%= link_to t("consultation.respond_online"), @content_item.respond_online_url %></p>
            </div>

            <% if @content_item.email || @content_item.postal_address %>
              <p><%= t("consultation.or") %></p>
            <% end %>
          <% end %>

          <% if @content_item.response_form? %>
            <p>
              <%= t("consultation.complete_a") %> <%= link_to 'response form', @content_item.attachment_url %> <%= t("consultation.and") %>
              <%= t("consultation.either") if @content_item.email && @content_item.postal_address %>
            </p>
          <% end %>

          <% if @content_item.email %>
            <h3><%= t("consultation.email_to") %></h3>
            <p><%= mail_to @content_item.email, @content_item.email %></p>
          <% end %>

          <% if @content_item.postal_address %>
            <h3><%= t("consultation.write_to") %></h3>
            <div class="contact">
              <div class="content">
                <%= simple_format(@content_item.postal_address) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="content-bottom-margin">
      <div class="govuk-!-display-none-print responsive-bottom-margin">
        <%= render 'govuk_publishing_components/components/share_links',
          links: @content_item.share_links,
          track_as_sharing: true,
          title: t('components.share_links.share_this_page')
        %>
      </div>

      <%= render 'shared/published_dates_with_notification_button' %>
    </div>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
