<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>
  </div>
  <%= render 'shared/translations' %>
</div>

<%= render 'shared/publisher_metadata_with_logo', content_item: @content_item %>
<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'components/important-metadata', items: @content_item.important_metadata %>

    <% if @content_item.unopened? %>
      <% content_item_unopened = capture do %>
        This consultation opens
        <% if @content_item.opening_date_midnight? %>on<% else %>at<% end %>
        <time datetime="<%= @content_item.opening_date_time %>"><%= @content_item.opening_date %></time>
      <% end %>
      <%= render 'govuk_publishing_components/components/notice', {
        title: "This consultation isn't open yet",
        description_text: content_item_unopened,
      } %>

    <% elsif @content_item.pending_final_outcome? %>
      <% content_item_final_outcome = capture do %>
        Visit this page again soon to download the outcome to this public&nbsp;feedback.
      <% end %>
      <%= render 'govuk_publishing_components/components/notice',
        title: 'We are analysing your feedback',
        description_text: content_item_final_outcome,
        margin_bottom:(0 unless @content_item.add_margin?)
      %>

    <% elsif @content_item.final_outcome? %>
      <%= render 'govuk_publishing_components/components/notice', title: 'This consultation has concluded' %>

      <%= render "attachments",
          title: "Download the full outcome",
          legacy_pre_rendered_documents: @content_item.final_outcome_documents,
          attachments: @content_item.final_outcome_attachments %>

      <%= render 'govuk_publishing_components/components/heading', text: "Detail of outcome", mobile_top_margin: true %>
      <div class="consultation-outcome-detail">
        <%= render 'govuk_publishing_components/components/govspeak', {
          direction: page_text_direction,
        } do %>
          <%= sanitize(@content_item.final_outcome_detail) %>
        <% end %>
      </div>
    <% end %>

    <%= render "attachments",
        title: "Feedback received",
        legacy_pre_rendered_documents: @content_item.public_feedback_documents,
        attachments: @content_item.public_feedback_attachments %>

    <% if @content_item.public_feedback_detail %>
      <%= render 'govuk_publishing_components/components/heading', {
        mobile_top_margin: true,
        text: "Detail of feedback received",
      } %>
      <div class="consultation-feedback">
        <%= render 'govuk_publishing_components/components/govspeak', {
          direction: page_text_direction,
        } do %>
          <%= sanitize(@content_item.public_feedback_detail) %>
        <% end %>
      </div>
    <% end %>

    <% if @content_item.final_outcome? %>
      <section class="original-consultation">
        <header>
          <%= render 'govuk_publishing_components/components/heading', {
            heading_level: 2,
            id: "original-consultation-title",
            mobile_top_margin: true,
            text: "Original consultation",
          } %>
        </header>
    <% end %>

    <% consultation_date = capture do %>
      <% if @content_item.closed? %>
        This consultation ran from<br /><span class="consultation-date"><time datetime="<%= @content_item.opening_date_time %>"><%= @content_item.opening_date %></time> to
        <time datetime="<%= @content_item.closing_date_time %>"><%= @content_item.closing_date %></time></span>
      <% elsif @content_item.open? %>
        This consultation closes at<br />
        <span class="consultation-date"><time datetime="<%= @content_item.closing_date_time %>"><%= @content_item.closing_date %></time></span>
      <% elsif @content_item.unopened? %>
        This consultation opens <% if @content_item.opening_date_midnight? %>on<% else %>at<% end %><br />
        <span class="consultation-date"><time datetime="<%= @content_item.opening_date_time %>"><%= @content_item.opening_date %></time></span><br />
        It closes at<br />
        <span class="consultation-date"><time datetime="<%= @content_item.closing_date_time %>"><%= @content_item.closing_date %></time></span>
      <% end %>
    <% end %>

    <% consultation_desc = capture do %>
      <%= @content_item.description %>
      <% if @content_item.held_on_another_website? %>
        <p class="govuk-!-margin-top-2">
          <strong>
            This consultation <% if @content_item.closed? %>was<% else %>is being<% end %> held on <a href="<%= @content_item.held_on_another_website_url %>">another website</a>.
          </strong>
        </p>
      <% end %>
    <% end %>
    <%= render 'components/banner', {
      aside: consultation_date,
      text: consultation_desc,
      title: 'Summary',
    } %>

    <% if @content_item.final_outcome? %>
      </section>
    <% end %>


    <div class="consultation-description">
      <%= render 'govuk_publishing_components/components/heading', {
        mobile_top_margin: true,
        text: "Consultation description",
      } %>

      <%= render 'govuk_publishing_components/components/govspeak', {} do %>
        <%= sanitize(@content_item.govspeak_body[:content]) %>
      <% end %>

      <%= render "attachments",
          title: "Documents",
          legacy_pre_rendered_documents: @content_item.documents,
          attachments: @content_item.featured_attachments %>
    </div>

    <% if @content_item.ways_to_respond? %>
      <div class="consultation-ways-to-respond">
        <%= render 'govuk_publishing_components/components/heading', text: "Ways to respond", mobile_top_margin: true %>
          <% @ways_to_respond_body = capture do %>
            <% if @content_item.respond_online_url %>
              <div class="call-to-action">
                <p><%= link_to 'Respond online', @content_item.respond_online_url %></p>
              </div>

              <% if @content_item.email || @content_item.postal_address %>
                <p>or</p>
              <% end %>
            <% end %>

            <% if @content_item.response_form? %>
              <p>
                Complete a <%= link_to 'response form', @content_item.attachment_url %> and
                <% if @content_item.email && @content_item.postal_address %>either<% end %>
              </p>
            <% end %>

            <% if @content_item.email %>
              <h3>Email to:</h3>
              <p><%= mail_to @content_item.email, @content_item.email %></p>
            <% end %>

            <% if @content_item.postal_address %>
              <h3>Write to:</h3>
              <div class="contact">
                <div class="content">
                  <%= simple_format(@content_item.postal_address) %>
                </div>
              </div>
            <% end %>
          <% end %>

        <%= render 'govuk_publishing_components/components/govspeak', {
          direction: page_text_direction,
        } do %>
          <%= sanitize(@ways_to_respond_body) %>
        <% end %>
      </div>
    <% end %>

    <div class="content-bottom-margin">
      <div class="dont-print responsive-bottom-margin">
        <%= render 'govuk_publishing_components/components/share_links',
          links: @content_item.share_links,
          track_as_sharing: true,
          title: t('components.share_links.share_this_page')
        %>
      </div>

    <%= render 'components/published-dates', {
        published: @content_item.published,
        last_updated: @content_item.updated,
        history: @content_item.history
      } %>
    </div>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
