<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<% content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_publishing_components/components/title',
      title: @content_item.title,
      context: ({ text: @content_item.taxons.first["title"], href: @content_item.taxons.first["base_path"] }  if @content_item.taxons)
    %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <% body = capture do %>
      <% if @content_item.online_form_links.any? %>
        <h2 id="online-forms-title">Online</h2>
        <% @content_item.online_form_links.each do |link| %>
          <p>
            <%= link_to(link[:title], link[:url]) %>
          </p>
          <%= link[:description] %>
        <% end %>
        <%= @content_item.online_form_body %>
      <% end %>

      <% if @content_item.email.any? %>
        <h2 id="email-title">Email</h2>
        <% @content_item.email.each do |email_group| %>
          <p class="vcard">
            <% email_group[:v_card].each do |v_card_part| %>
              <span class="<%= v_card_part[:v_card_class] %>">
                <%= v_card_part[:value] %>
              </span><br />
            <% end %>
            <%= mail_to email_group[:email], email_group[:email], class: 'email' %>
          </p>

          <%= email_group[:description] %>
        <% end %>
        <%= @content_item.email_body %>
      <% end %>

      <% if @content_item.show_webchat? %>
        <h2 id="webchat-title">Webchat</h2>
        <%= render 'shared/webchat' %>
      <% end %>

      <% if @content_item.phone.any? %>
        <h2 id="phone-title">Phone</h2>
        <% @content_item.phone.each do |phone_group| %>
          <% if @content_item.phone.size > 1 %>
            <h3><%= phone_group[:title] %></h3>
          <% end %>
          <%= phone_group[:description] %>
          <% if phone_group[:numbers].any? %>
            <div class="contact">
              <div class="content">
                <% phone_group[:numbers].each do |number| %>
                  <p><%= number[:label] %>:<br /><strong><%= number[:number] %></strong></p>
                <% end%>
              </div>
            </div>
          <% end %>
          <% if phone_group[:opening_times].present? %>
            <h4 class="normal-weight">Opening times:</h4>
            <%= phone_group[:opening_times] %>
          <% end %>

          <% if phone_group[:best_time_to_call].present? %>
            <h4 class="normal-weight">Best time to call:</h4>
            <%= phone_group[:best_time_to_call] %>
          <% end %>
        <% end %>

        <%= @content_item.phone_body %>

        <p class="call-charges">
          <%= link_to "Find out about call charges", "/call-charges" %>
        </p>
      <% end %>

      <% if @content_item.post.any? %>
        <h2 id="post-title">Post</h2>
        <% @content_item.post.each do |post_group| %>
          <%= post_group[:description] %>
          <div class="contact vcard">
            <p class="content">
              <% post_group[:v_card].each do |v_card_part| %>
                <span class="<%= v_card_part[:v_card_class] %>">
                  <%= v_card_part[:value] %>
                </span><br />
              <% end %>
            </p>
          </div>
        <% end %>
        <%= @content_item.post_body %>
      <% end %>
    <% end %>

    <%= render 'govuk_publishing_components/components/govspeak', content: body, rich_govspeak: true %>
    <%= render 'shared/guidance_go_deeper' %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<% if @content_item.taxons %>
  <%= render 'shared/guidance_can_do_links' %>
<% end %>
