<%
  content_for :title, @content_item.title
  content_for :simple_header, true
%>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: t("content_item.format.#{@content_item.document_type}", count: 1),
        title: @content_item.title %>
    <% @body = capture do %>
      <% if @content_item.online_forms? %>
        <h2 id="online-forms">Online forms</h2>
        <% @content_item.online_form_links.each do |link| %>
          <p>
            <%= link_to(link[:title], link[:url]) %>
          </p>
          <%= link[:description] %>
        <% end %>
        <%= @content_item.online_form_body %>
      <% end %>
    <% end %>
    <%= render 'govuk_component/govspeak', content: @body %>
  </div>
  <div class="column-one-third add-title-margin">
    <%= render partial: 'govuk_component/related_items', locals: {
      sections: @content_item.related_items
    } %>
  </div>
</div>
