<% content_for :head do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<% @additional_body = capture do %>
  <% if @content_item.corporate_information? %>
    <%= @content_item.corporate_information_heading_tag %>
    <% @content_item.corporate_information.each do |group| %>
      <%= group[:heading] %>
      <ul>
        <% group[:links].each do |link| %>
          <li>
            <%= link %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @content_item.further_information.present? %>
      <p>
        <%= @content_item.further_information %>
      </p>
    <% end %>
  <% end %>
<% end %>

<div class="<%= @content_item.organisation_brand_class %>">
  <div class="govuk-grid-row translation-nav-header">
    <div class="govuk-grid-column-two-thirds translation-nav-header__child">
      <%= render 'govuk_publishing_components/components/heading',
        text: @content_item.title,
        heading_level: 1,
        font_size: "xl",
        margin_bottom: 0
      %>
    </div>
    <%= render 'shared/translations' %>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
      <% if @content_item.withdrawn? %>
        <%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--visible">
      <div class="govuk-!-width-one-half govuk-!-margin-top-3 responsive-bottom-margin">
        <%= render 'govuk_publishing_components/components/organisation_logo', @content_item.organisation_logo %>
      </div>

      <%= render "govuk_publishing_components/components/contents_list_with_body", contents: @content_item.contents do %>
        <div class="responsive-bottom-margin">
          <%= render 'govuk_publishing_components/components/govspeak', {} do %>
            <%= raw(@content_item.body) %>
            <%= raw(@additional_body) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
