<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<% @additional_body = capture do %>
  <% if @content_item.corporate_information? %>
    <%= @content_item.corporate_information_heading_tag %>
    <% @content_item.corporate_information.each do |group| %>
      <%= group[:heading] %>
      <ul>
        <% group[:links].each do |link| %>
          <li>
            <%= link %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @content_item.further_information.present? %>
      <p>
        <%= @content_item.further_information %>
      </p>
    <% end %>
  <% end %>
<% end %>

<div class="<%= @content_item.organisation_brand_class %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render 'govuk_publishing_components/components/organisation_logo', @content_item.organisation_logo %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render 'govuk_publishing_components/components/title', title: @content_item.title %>
    </div>
    <%= render 'shared/translations' %>
    <div class="govuk-grid-column-two-thirds">
      <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
      <%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "components/contents-list-with-body", contents: @content_item.contents do %>
        <div class="responsive-bottom-margin">
          <%= render 'govuk_publishing_components/components/govspeak', {} do %>
            <%= sanitize("#{@content_item.body}#{@additional_body}", {
              attributes: %w(id href),
            }) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
