<%= content_for :title, @content_item.page_title %>

<div class="<%= @content_item.organisation_brand_class %>">
  <div class="grid-row">
    <div class="column-quarter">
      <%= render 'govuk_component/organisation_logo', @content_item.organisation_logo %>
    </div>
  </div>
  <%= render 'shared/title_and_translations', content_item: @content_item %>
  <%= render 'components/lead-paragraph', description: @content_item.description %>

  <% @additional_body = capture do %>
    <% if @content_item.corporate_information? %>
      <%= @content_item.corporate_information_heading_tag %>
      <% @content_item.corporate_information.each do |group| %>
        <%= group[:heading] %>
        <ul>
          <% group[:links].each do |link| %>
            <li>
              <%= link %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if @content_item.further_information.present? %>
        <p>
          <%= @content_item.further_information %>
        </p>
      <% end %>
    <% end %>
  <% end %>

  <%= render 'shared/sidebar_contents_with_body',
        content_item: @content_item,
        body: "#{@content_item.body}#{@additional_body}" %>
</div>
