<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :faq
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>
  </div>
  <%= render 'shared/translations' %>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>
<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
<%= render 'components/header-notice', @content_item.no_deal_notice_component unless @content_item.withdrawal_notice_component %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'components/important-metadata', items: @content_item.important_metadata %>

    <%= render "components/contents-list-with-body", contents: @content_item.contents do %>
      <%= render "govuk_publishing_components/components/print_link", {
        margin_top: 0,
        margin_bottom: 6,
      } %>
      <%= render 'govuk_publishing_components/components/govspeak', @content_item.govspeak_body %>

      <div class="responsive-bottom-margin">
        <%= render 'components/published-dates', {
            published: @content_item.published,
            last_updated: @content_item.updated,
            history: @content_item.history
          } %>
      </div>
    <% end %>
    <%= render "govuk_publishing_components/components/print_link", {
        margin_top: 0,
        margin_bottom: 6,
      } %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
