<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :faq
  ) %>

  <%
    scroll_track_headings_paths = [
      "/guidance/universal-credit-how-it-helps-you-into-work",
      "/guidance/returning-to-the-uk",
      "/guidance/foreign-travel-insurance",
      "/guidance/living-in-france",
      "/guidance/healthcare-for-eu-and-efta-citizens-visiting-the-uk",
      "/guidance/guidance-for-suppliers-of-cattle-sheep-and-goat-ear-tags",
      "/guidance/ecmt-international-road-haulage-permits",
    ]
    scroll_track_percent_paths = [
      "/guidance/brexit-guidance-for-businesses",
      "/guidance/brexit-guidance-for-individuals-and-families",
      "/guidance/import-and-export-goods-using-preference-agreements",
    ]
  %>
  <% if scroll_track_headings_paths.include?(@content_item.base_path) %>
    <meta name="govuk:scroll-tracker" content="" data-module="auto-scroll-tracker" data-track-type="headings"/>
  <% elsif @content_item.base_path == "/guidance/travel-to-england-from-another-country-during-coronavirus-covid-19" %>
    <%
      headings = [
        "Applies to England",
        "If you are fully vaccinated",
        "Check if you qualify as fully vaccinated",
        "Travelling with children",
        "Ireland, the UK, the Channel Islands and the Isle of Man",
        "If you are not fully vaccinated",
        "Travel abroad from England",
        "Red list countries and territories",
        "Transiting through England",
      ]
    %>
    <%= tag.meta name: "govuk-scroll-tracker", content: "", data: { module: "auto-scroll-tracker", "track-type": "headings", "track-headings": headings.to_json } %>
  <% elsif @content_item.base_path == "/guidance/travel-abroad-from-england-during-coronavirus-covid-19" %>
    <%
      headings = [
        "Applies to England",
        "Travelling with children",
        "1. Check foreign travel advice for the countries you want to go to",
        "Ireland, the UK, the Channel Islands and the Isle of Man",
        "2. Arrange any COVID-19 tests you will need to enter the countries that you will travel to",
        "3. Find out how you can use the NHS COVID Pass to prove your vaccination status abroad",
        "Exemptions for work, medical or compassionate reasons",
        "4. Check what you will need to do when you return to England",
        "Travel to England guidance",
      ]
    %>
    <%= tag.meta name: "govuk-scroll-tracker", content: "", data: { module: "auto-scroll-tracker", "track-type": "headings", "track-headings": headings.to_json } %>
  <% elsif scroll_track_percent_paths.include?(@content_item.base_path) %>
    <meta name="govuk:scroll-tracker" content="" data-module="auto-scroll-tracker"/>
  <% end %>
<% end %>

<%= render 'shared/email_subscribe_unsubscribe_flash' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% brexit_child_taxon = @content_item.brexit_child_taxon %>
    <% title_and_context = brexit_child_taxon ? { title: @content_item.title } : @content_item.title_and_context %>
    <%= render 'govuk_publishing_components/components/title', title_and_context %>
  </div>
  <%= render 'shared/translations' %>
  <div class="govuk-grid-column-two-thirds">
    <% if brexit_child_taxon %>
      <div class="govuk-body-l govuk-!-margin-bottom-7">
        <p class="govuk-body">
          <%= I18n.t("brexit.heading_prefix") %>
          <%= link_to(
              brexit_child_taxon[:nav_link][:text],
              brexit_child_taxon[:nav_link][:path],
              class: "govuk-link gtm-tracking-link",
              data: {
                track_action: brexit_child_taxon[:nav_link][:path],
                track_category: brexit_child_taxon[:nav_link][:track_category],
                track_label: brexit_child_taxon[:nav_link][:track_label],
                gtmevent: "nav-link-clicked",
                gtmtext: brexit_child_taxon[:nav_link][:text],
                gtmurl: brexit_child_taxon[:nav_link][:path],
                gtmlabel: brexit_child_taxon[:nav_link][:track_label],
                module: 'gem-track-click gtm-tracking',
              }) %>.
        </p>
      </div>
    <% else %>
      <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
    <% end %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' unless brexit_child_taxon %>

<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/devolved_nations", {
      national_applicability: @content_item.national_applicability || {},
      type: @content_item.schema_name
    } %>

    <%= render "components/contents-list-with-body", contents: @content_item.contents do %>
      <%= render "govuk_publishing_components/components/print_link", {
        margin_top: 0,
        margin_bottom: 6,
      } unless brexit_child_taxon %>

      <% if brexit_child_taxon %>
        <%= render partial: 'content_items/detailed_guide/brexit_sections', locals: { brexit_child_taxon: brexit_child_taxon } %>
      <% else %>
        <%= render 'govuk_publishing_components/components/govspeak', {} do %>
          <%= raw(@content_item.govspeak_body[:content]) %>
        <% end %>
      <% end %>

      <div class="responsive-bottom-margin">
        <%= render 'shared/published_dates_with_notification_button', { brexit_child_taxon: brexit_child_taxon } %>
      </div>
    <% end %>
    <%= render "govuk_publishing_components/components/print_link", {
        margin_top: 0,
        margin_bottom: 6,
      } unless brexit_child_taxon %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>
<%= render 'shared/footer_navigation' %>
