<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, @content_item.page_title %>

<%= render "shared/breadcrumbs" %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', @content_item.title_and_context %>
  </div>
  <div class="column-third">
    <%= render 'shared/available_languages',
      translations: @content_item.available_translations
    %>
    <% if @content_item.image.present? %>
      <%= image_tag @content_item.image, class: "logo-image" %>
    <% end %>
  </div>
</div>

<%= render 'shared/withdrawal_notice', content_item: @content_item %>
<%= render 'shared/metadata', content_item: @content_item %>
<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'shared/description', description: @content_item.description %>

<div
  class="grid-row sidebar-with-body"
  data-module="sticky-element-container"
  id="contents"
>
  <% if @content_item.contents.any? %>
    <div class="column-third">
      <%= render 'shared/sidebar_contents', contents: @content_item.contents %>
    </div>
  <% end %>
  <div class="column-two-thirds <% unless @content_item.contents.any? %>offset-one-third<% end %>">
    <% if @content_item.related_mainstream_content.any? %>
      <aside class="related-mainstream-content" role="complementary">
        <h4>
          <%= raw( t('detailed_guide.related_mainstream_content') ) %>
        </h4>
        <% @content_item.related_mainstream_content.each do |link| %>
          <%= link %><br />
        <% end %>
      </aside>
    <% end %>
    <%= render 'govuk_component/govspeak',
        content: @content_item.body,
        direction: page_text_direction %>
  </div>
  <div data-sticky-element class="sticky-element">
    <a class="back-to-content" href="#contents"><%= t("content_item.contents") %></a>
  </div>
</div>

<%= render 'govuk_component/document_footer', @content_item.document_footer %>
