<%= content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'shared/title_and_translations', content_item: @content_item %>

    <% if @content_item.image.present? %>
      <%= image_tag @content_item.image, class: "logo-image" %>
    <% end %>

    <%= render 'components/notice', @content_item.withdrawal_notice_component  %>
    <%= render 'shared/metadata', content_item: @content_item %>
    <%= render 'shared/history_notice', content_item: @content_item %>
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>

    <div class="sidebar-with-body" id="contents">
      <% if @content_item.contents.any? %>
        <%= render 'components/contents-list', contents: @content_item.contents %>
      <% end %>
      <% if @content_item.related_mainstream_content.any? %>
        <aside class="related-mainstream-content" role="complementary">
          <h4>
            <%= raw(t('detailed_guide.related_mainstream_content')) %>
          </h4>
          <% @content_item.related_mainstream_content.each do |link| %>
            <%= link %><br/>
          <% end %>
        </aside>
      <% end %>
      <%= render 'govuk_component/govspeak', @content_item.govspeak_body %>
    </div>
    <%= render 'shared/footer', @content_item.document_footer %>
  </div>

  <div class="column-third add-title-margin">
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @content_item.taxonomy_sidebar %>
  </div>
</div>
