<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :faq
  ) %>
<% end %>

<%= render 'shared/email_subscribe_unsubscribe_flash', { title: @content_item.title_and_context[:title] } %>

<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>
  </div>
  <%= render 'shared/translations' %>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>
<%= render 'shared/single_page_notification_button', content_item: @content_item %>
<%= render 'shared/history_notice', content_item: @content_item %>
<% if @content_item.withdrawn? %>
  <%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
<% end %>
<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    <% if @content_item.national_applicability.present? %>
      <%= render "govuk_publishing_components/components/devolved_nations", {
        national_applicability: @content_item.national_applicability,
        content_type: @content_item.schema_name,
      } %>
    <% end %>

    <%= render "components/contents_list_with_body", contents: @content_item.contents do %>
      <%= render "govuk_publishing_components/components/print_link", {
        margin_top: 0,
        margin_bottom: 6,
      } %>

      <%= render 'govuk_publishing_components/components/govspeak', {} do %>
        <%= raw(@content_item.govspeak_body[:content]) %>
      <% end %>

      <%= render 'shared/published_dates_with_notification_button' %>
    <% end %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>
<%= render 'shared/footer_navigation' %>
