<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, @content_item.page_title %>

<% if @content_item.breadcrumbs.any? %>
  <%= render 'govuk_component/breadcrumbs', breadcrumbs: @content_item.breadcrumbs %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: t("content_item.format.#{@content_item.format}", count: 1),
        title: @content_item.title,
        average_title_length: "long" %>
  </div>
</div>

<%= render 'shared/withdrawal_notice', content_item: @content_item %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/metadata',
        from: @content_item.from,
        part_of: @content_item.part_of,
        first_published: @content_item.published,
        last_updated: @content_item.updated,
        see_updates_link: true
    %>
  </div>
</div>
<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'shared/description', description: @content_item.description %>

<div class="grid-row sidebar-with-body">
  <% if @content_item.contents.any? %>
    <div class="column-third">
      <%= render 'shared/sidebar_contents', contents: @content_item.contents %>
    </div>
  <% end %>
  <div class="column-two-thirds <% unless @content_item.contents.any? %>offset-one-third<% end %>">
    <%= render 'govuk_component/govspeak',
        content: @content_item.body,
        direction: page_text_direction %>
  </div>
</div>

<%= render 'govuk_component/document_footer',
    from: @content_item.from,
    updated: @content_item.updated,
    history: @content_item.history,
    published: @content_item.published,
    direction: page_text_direction,
    other: {
      "Related guides" => @content_item.related_guides
    }
%>
