<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :faq
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% brexit_link = @content_item.brexit_link %>
    <% title_and_context = brexit_link ? { title: @content_item.title } : @content_item.title_and_context %>
    <%= render 'govuk_publishing_components/components/title', title_and_context %>
  </div>
  <%= render 'shared/translations' %>
  <div class="govuk-grid-column-two-thirds">
    <% if brexit_link %>
      <div class="govuk-body-l govuk-!-margin-bottom-7">
        <p class="govuk-body">
          <%= I18n.t("brexit.heading_prefix") %>
          <%= link_to(
              brexit_link[:nav_link][:text],
              brexit_link[:nav_link][:path],
              class: "govuk-link",
              data: {
                track_action: brexit_link[:nav_link][:path],
                track_category: brexit_link[:track_category],
                track_label: brexit_link[:nav_link][:track_label],
                module: 'gem-track-click',
              }) %>.
        </p>
      </div>
    <% else %>
      <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
    <% end %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' unless brexit_link %>
<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'components/important-metadata', items: @content_item.important_metadata %>

    <%= render "components/contents-list-with-body", contents: @content_item.contents do %>
      <%= render "govuk_publishing_components/components/print_link", {
        margin_top: 0,
        margin_bottom: 6,
      } unless brexit_link %>

      <% if brexit_link %>
        <%= render partial: 'content_items/detailed_guide/brexit_sections', locals: { brexit_link: brexit_link } %>
      <% else %>
        <%= render 'govuk_publishing_components/components/govspeak', {} do %>
          <%= raw(@content_item.govspeak_body[:content]) %>
        <% end %>
      <% end %>

      <div class="responsive-bottom-margin">
        <%= render 'components/published-dates', {
            published: @content_item.published,
            last_updated: @content_item.updated,
            history: @content_item.history
          } unless brexit_link %>
      </div>
    <% end %>
    <%= render "govuk_publishing_components/components/print_link", {
        margin_top: 0,
        margin_bottom: 6,
      } unless brexit_link %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
