<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, @content_item.page_title %>
<%= content_for :meta_description, @content_item.description %>

<%= render "shared/breadcrumbs" %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: t("content_item.format.#{@content_item.document_type}", count: 1),
        title: @content_item.title,
        average_title_length: "long" %>
  </div>
</div>

<%= render 'shared/withdrawal_notice', content_item: @content_item %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/metadata',
        from: @content_item.from,
        part_of: @content_item.part_of,
        first_published: @content_item.published,
        last_updated: @content_item.updated,
        see_updates_link: true
    %>
  </div>
</div>
<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'shared/description', description: @content_item.description %>

<div class="grid-row sidebar-with-body">
  <div class="column-third">
    <%= render 'shared/sidebar_contents', contents: @content_item.contents %>
  </div>
  <div class="column-two-thirds">
    <% if @content_item.body.present? %>
      <%= render 'govuk_component/govspeak',
          content: @content_item.body,
          direction: page_text_direction %>
    <% end %>
    <% @content_item.groups.each do |group| %>
      <%= @content_item.group_heading(group) %>
      <% if group["body"].present? %>
        <%= render 'govuk_component/govspeak',
            content: group["body"],
            direction: page_text_direction %>
      <% end %>
      <ol class="group-document-list">
        <% @content_item.group_document_links(group).each do |link| %>
          <li class="group-document-list-item">
            <h3 class="group-document-list-item-title">
              <%= link_to(link[:title], link[:base_path]) %>
            </h3>
            <ul class="group-document-list-item-attributes">
              <li>
                <time datetime="<%= link[:public_updated_at].iso8601 %>">
                  <%= l(link[:public_updated_at], format: :short_ordinal) %>
                </time>
              </li>
              <li><%= t("content_item.format.#{link[:document_type]}", count: 1) %></li>
            </ul>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>

<%= render 'govuk_component/document_footer',
    from: @content_item.from,
    updated: @content_item.updated,
    history: @content_item.history,
    published: @content_item.published,
    part_of: @content_item.part_of,
    direction: page_text_direction
%>
