<%= content_for :title, @content_item.page_title %>
<%= content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'shared/title_and_translations', content_item: @content_item %>
    <%= render 'shared/withdrawal_notice', content_item: @content_item %>
    <%= render 'shared/metadata', content_item: @content_item %>
    <%= render 'shared/history_notice', content_item: @content_item %>
    <%= render 'shared/description', description: @content_item.description %>
    <%= render 'shared/sidebar_contents', contents: @content_item.contents %>

    <% if @content_item.body.present? %>
      <%= render 'govuk_component/govspeak', @content_item.govspeak_body %>
    <% end %>
    <% @content_item.groups.each do |group| %>
      <%= @content_item.group_heading(group) %>
      <% if group["body"].present? %>
        <%= render 'govuk_component/govspeak',
                   content: group["body"],
                   direction: page_text_direction %>
      <% end %>
      <ol class="group-document-list">
        <% @content_item.group_document_links(group).each do |link| %>
          <li class="group-document-list-item">
            <h3 class="group-document-list-item-title">
              <%= link_to(link[:title], link[:base_path]) %>
            </h3>
            <ul class="group-document-list-item-attributes">
              <li>
                <time datetime="<%= link[:public_updated_at].iso8601 %>">
                  <%= l(link[:public_updated_at], format: :short_ordinal) %>
                </time>
              </li>
              <li><%= t("content_item.schema_name.#{link[:document_type]}", count: 1) %></li>
            </ul>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>

  <div class="column-third">
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @content_item.taxonomy_sidebar %>
  </div>
</div>

<%= render 'shared/footer', @content_item.document_footer %>
