<%= content_for :title, @content_item.page_title %>
<%= content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'shared/title_and_translations', content_item: @content_item %>
    <%= render 'components/notice', @content_item.withdrawal_notice_component  %>
    <%= render 'shared/metadata', content_item: @content_item %>
    <%= render 'shared/history_notice', content_item: @content_item %>
    <%= render 'shared/description', description: @content_item.description %>
    <%= render 'shared/sidebar_contents', contents: @content_item.contents %>

    <%= render 'document_collection_body' %>
  </div>

  <div class="column-third">
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @content_item.taxonomy_sidebar %>
  </div>
</div>

<%= render 'shared/footer', @content_item.document_footer %>
