<%= content_for :title, @content_item.page_title %>

<%= render 'shared/title_and_translations', content_item: @content_item %>
<%= render 'shared/withdrawal_notice', content_item: @content_item %>
<%= render 'shared/metadata', content_item: @content_item %>
<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'shared/description', description: @content_item.description %>

<div
  class="grid-row sidebar-with-body"
  data-module="sticky-element-container"
  id="contents"
>
  <% if @content_item.contents.any? %>
    <div class="column-third">
      <%= render 'shared/sidebar_contents', contents: @content_item.contents %>
    </div>
  <% end %>
  <div class="column-two-thirds <% unless @content_item.contents.any? %>offset-one-third<% end %>">
    <% if @content_item.body.present? %>
      <%= render 'govuk_component/govspeak', @content_item.govspeak_body %>
    <% end %>
    <% @content_item.groups.each do |group| %>
      <%= @content_item.group_heading(group) %>
      <% if group["body"].present? %>
        <%= render 'govuk_component/govspeak',
            content: group["body"],
            direction: page_text_direction %>
      <% end %>
      <ol class="group-document-list">
        <% @content_item.group_document_links(group).each do |link| %>
          <li class="group-document-list-item">
            <h3 class="group-document-list-item-title">
              <%= link_to(link[:title], link[:base_path]) %>
            </h3>
            <ul class="group-document-list-item-attributes">
              <li>
                <time datetime="<%= link[:public_updated_at].iso8601 %>">
                  <%= l(link[:public_updated_at], format: :short_ordinal) %>
                </time>
              </li>
              <li><%= t("content_item.schema_name.#{link[:document_type]}", count: 1) %></li>
            </ul>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <div data-sticky-element class="govuk-sticky-element">
    <%= render 'shared/back_to_content_link' %>
  </div>
</div>

<%= render 'shared/footer', @content_item.document_footer %>
