<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, @content_item.title %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: "Operations in #{@content_item.field_of_operation.title}",
        title: @content_item.title %>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/metadata',
        from: @content_item.from,
        first_published: @content_item.published,
        other: {
          "Field of operation" => link_to(@content_item.field_of_operation.title, @content_item.field_of_operation.path)
        }
      %>
  </div>
</div>

<%= render 'shared/description', description: @content_item.description %>

<div class="grid-row sidebar-with-body">
  <div class="column-third">
    <%= render 'shared/sidebar_image',
        image: { "url" => asset_path("mod-crest"), "alt_text" => "" } %>
  </div>
  <div class="column-two-thirds">
    <%= render 'govuk_component/govspeak',
        content: @content_item.body,
        direction: page_text_direction %>
  </div>
</div>

<%= render 'govuk_component/document_footer',
    published: @content_item.published,
    direction: page_text_direction
%>
