<% page_title %>
<% page_class "get-involved govuk-main-wrapper" %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Home",
        url: "/"
      }
    ]
  } %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        context: "Government activity",
        title: t('get_involved.page_heading'), 
      } %>

      <%= render "govuk_publishing_components/components/lead_paragraph", { 
        text: t('get_involved.intro_paragraph.body_html',
        engage_with_government: link_to(t('get_involved.intro_paragraph.engage_with_government'), "#engage-with-government",
        class: "govuk-link"),
        take_part: link_to(t('get_involved.intro_paragraph.take_part'), "#take-part", 
        class: "govuk-link")),
        margin_bottom: 9
      } %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <%# Engage with government section %>
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
      <%= render "govuk_publishing_components/components/heading", { 
        text: t('get_involved.engage_with_gov'),  
        heading_level: 2, 
        border_top: 2,
        padding: true,
        id: "engage-with-government"
      } %>
      
      <p class="govuk-body govuk-!-padding-bottom-5">
        <%= t('get_involved.your_views') %>
      </p>

      <%# Respond to consultations %>
      <%= render "govuk_publishing_components/components/heading", { 
        text: t('get_involved.respond_to_consultations'), 
        heading_level: 2, 
        font_size: "s"
      } %>

      <%# Big numbers %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <%= render "govuk_publishing_components/components/big_number", {
            number: @open_consultation_count,
            label: "Open consultations",
            href: "/government/organisations#ministerial_departments"
          } %>
        </div>
        <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/big_number", {
            number: @closed_consultation_count,
            label: "Closed consultations in the past 12 months",
            href: "/government/organisations#ministerial_departments"
          } %>
        </div>
      </div>

      <%# Attention to closing consultation  %>
      <%= render "govuk_publishing_components/components/inset_text", {
      } do %>
        <div>
        <%= render "govuk_publishing_components/components/heading", { 
          text: time_until_closure(@next_closing_consultation),
          heading_level: 3
        } %>
        <p class="govuk-body">
          <%= @next_closing_consultation['title'] %>
        </p>
        <%= link_to t('get_involved.read_respond'), @next_closing_consultation['link'], class: "govuk-link" %>
        </div>
      <% end %>
    </div>
  </div>

  <%# Recently opened section %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
      <%= render "govuk_publishing_components/components/heading", { 
        text: t('get_involved.recently_opened'), 
        padding: true,
        border_top: 2,
        font_size: "s",
        margin_bottom: 4
      } %>

        <%= render "govuk_publishing_components/components/document_list", {
          items: @recently_opened
        } %>

        <%= link_to(t('get_involved.search_all'), get_consultations_link, class: "govuk-link" ) %>
    </div>
  </div>

  <%# Recent outcomes section %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
      <%= render "govuk_publishing_components/components/heading", { 
        text: t('get_involved.recent_outcomes'),
        padding: true,
        border_top: 2,
        font_size: "s",
        margin_bottom: 4
      } %>

      <%= render "govuk_publishing_components/components/document_list", {
        items: @recent_outcomes
      } %>

      <%= link_to(t('get_involved.search_all'), get_consultations_link, class: "govuk-link" ) %>
    </div>
  </div>

  <%# Start a petition section %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <%= render "govuk_publishing_components/components/heading", { 
        text: t('get_involved.start_a_petition'),
        padding: true,
        border_top: 2,
      } %>
        <p class="govuk-body">
          <%= t('get_involved.petition_paragraph.body_html', create_a_petition: link_to(t('get_involved.petition_paragraph.create_a_petition'), "https://petition.parliament.uk/", class: "govuk-link", rel: "external")) %>
        </p>            
    </div>
  </div>

  <%# Follow a blog.. section %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('get_involved.follow'),
        padding: true,
        border_top: 2,
      } %>
      <p class="govuk-body"><%= t('get_involved.follow_paragraph') %></p>
      <p class="govuk-body govuk-!-padding-bottom-6">
        <a href="/government/organisations/" class="govuk-link">
          <%= t('get_involved.see_all_dept') %>
        </a>
      </p>
      <%= render "govuk_publishing_components/components/heading", {
        text: t('get_involved.follow_links'),
        heading_level: 3,
        font_size: "s",
        padding: true,
        border_top: 2,
      } %>
      <%= render "govuk_publishing_components/components/list", {
        items: [
          sanitize("<a href=\"https://history.blog.gov.uk\" rel=\"noopener\" class=\"govuk-link\">#{t('get_involved.gov_past')}</a>"),
          sanitize("<a href=\"https://quarterly.blog.gov.uk\" rel=\"noopener\" class=\"govuk-link\">#{ t('get_involved.civil_service_quarterly')}</a>"),
          sanitize("<a href=\"/donating-to-charity\" rel=\"noopener\" class=\"govuk-link\">#{t('get_involved.make_donation')}</a>"),
          sanitize("<a href=\"https://gds.blog.gov.uk/\" rel=\"noopener\" class=\"govuk-link\">#{t('get_involved.gds_blog')}</a>"),
          sanitize("<a href=\"https://civilservice.blog.gov.uk/\" rel=\"noopener\" class=\"govuk-link\">#{t('get_involved.civil_service')}</a>"),
        ]
      } %> 
    </div>
  </div>

  <%# Take part section %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", { 
        text: t('get_involved.take_part'), 
        padding: true,
        border_top: 2,
        margin_bottom: 4,
        id: "take-part"
      } %>
    </div>
  </div>

 <%# Take part image grid %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
      <div role="list"> 
      <% @take_part_pages.each_with_index do |take_part_page, index| %>
        <% if index % 3 == 0 && index != 0 %> </div> <% end %>
        <% if index % 3 == 0 %>
          <div class="govuk-grid-row"> 
        <% end %>
            <div class="govuk-grid-column-one-third" role="listitem">
              <%= render "govuk_publishing_components/components/image_card", {
                href: take_part_page['base_path'],
                image_src: take_part_page['details']['image']['url'],
                image_alt: take_part_page['details']['image']['alt_text'],
                heading_text: take_part_page['title'],
                description: take_part_page['description'],
                heading_level: 3,
              } %>
            </div>
          <% if index == @take_part_pages.size-1 %> 
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <%# More ways to take part section %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text:t('get_involved.more_ways'),
        padding: true,
        border_top: 2, 
      } %>
      <p class="govuk-body">
      <%= t('get_involved.take_part_suggestions') %>
      </p>

    <%= render "govuk_publishing_components/components/list", {
      items: [
        sanitize("<a href=\"http://www.volunteerics.org/\" class=\"govuk-link\">#{t('get_involved.join_ics')}</a>"),
        sanitize("<a href=\"http://www.ourwatch.org.uk/knowledge-base-category/how-to-get-involved/\" class=\"govuk-link\">#{t('get_involved.neighbourhood_watch')}</a>"),
        sanitize("<a href=\"/donating-to-charity\" class=\"govuk-link\">#{t('get_involved.make_donation')}</a>"),
        sanitize("<a href=\"https://gds.blog.gov.uk/\" class=\"govuk-link\">#{t('get_involved.gds_blog')}</a>"),
        sanitize("<a href=\"https://schoolsonline.britishcouncil.org/about-schools-online/about-programmes/connecting-classrooms\" rel=\"noopener\" class=\"govuk-link\">#{t('get_involved.school_overseas')}</a>"),
      ]
    } %> 
    </div>
  </div>
