<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("gone.title"),
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 8
    } %>

    <p class="summary govuk-!-font-size-19 govuk-!-margin-bottom-3">
      <%= t("gone.published_in_error") %>
    </p>

    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= raw(@content_item.explanation) %>
    <% end %>

    <% if @content_item.alternative_path.present? %>
      <p class="alternative govuk-!-font-size-19 govuk-!-margin-bottom-3">
        <%= t("common.visit") %> <%= alternative_path_link(request, @content_item.alternative_path)%>
      </p>
    <% end %>
  </div>
</div>
