<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: t("gone.title"),
    } %>

    <p class="summary">
      <%= t("gone.published_in_error") %>
    </p>

    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= raw(@content_item.explanation) %>
    <% end %>

    <% if @content_item.alternative_path.present? %>
      <p class="alternative">
        <%= t("common.visit") %> <%= alternative_path_link(request, @content_item.alternative_path)%>
      </p>
    <% end %>
  </div>
</div>
