<% add_view_stylesheet("guide") %>
<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url,
    body: @content_item.has_parts? ? @content_item.current_part_body : nil
  ) %>

  <%= @requested_variant.analytics_meta_tag.html_safe if @requested_variant.present? %>
<% end %>

<% unless @content_item.requesting_a_part? %>
<script type="application/ld+json">
  <%= raw JSON.pretty_generate(MachineReadable::GuideFaqPageSchemaPresenter.new(@content_item, self).structured_data) %>
</script>
<% end %>

<% content_for :simple_header, true %>

<%= render 'shared/intervention_banner' %>

<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', { title: @content_item.content_title } %>

    <% if @content_item.show_guide_navigation? %>
      <%= render "govuk_publishing_components/components/skip_link", {
        text: t("guide.skip_contents"),
        href: "#guide-contents"
      } %>
      <aside class="part-navigation-container" role="complementary">
        <%= render "govuk_publishing_components/components/contents_list", aria: { label: t("guide.pages_in_guide") }, contents: @content_item.part_link_elements, underline_links: true %>
      </aside>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6" id="guide-contents">
    <% if @content_item.has_parts? %>
      <% if @content_item.show_guide_navigation? %>
        <%= render 'govuk_publishing_components/components/heading', heading_level: 1, font_size: 'l', margin_bottom: 6, text: @content_item.current_part_title %>
      <% end %>
      <%
        disable_youtube_expansions = true
        # This is for the /child-benefit/how-to-claim page
        if @content_item.content_id == "aed2cee3-7ca8-4f00-ab17-9193fff516ae"
          disable_youtube_expansions = false
        end
      %>
      <%= render "govuk_publishing_components/components/govspeak", {
        direction: page_text_direction,
        disable_youtube_expansions: disable_youtube_expansions
      } do %>
        <%= raw(@content_item.current_part_body) %>
      <% end %>

      <% if @content_item.show_guide_navigation? %>
        <%= render 'govuk_publishing_components/components/previous_and_next_navigation', @content_item.previous_and_next_navigation %>

        <div class="responsive-bottom-margin">
          <a href="<%= @content_item.print_link %>"
            class="govuk-link govuk-link--no-visited-state govuk-body"
            data-module="ga4-link-tracker"
            data-ga4-link="<%= {
              event_name: "navigation",
              type: "print page",
              section: "Footer",
              text: t("multi_page.print_entire_guide", locale: :en)
            }.to_json %>">
            <%= t("multi_page.print_entire_guide") %>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
