<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url,
    body: @content_item.has_parts? ? @content_item.current_part_body : nil
  ) %>
<% end %>

<% unless @content_item.requesting_a_part? %>
<script type="application/ld+json">
  <%= raw MachineReadable::GuideFaqPageSchemaPresenter.new(@content_item, self).structured_data.to_json %>
</script>
<% end %>

<% content_for :simple_header, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', { title: @content_item.content_title } %>

    <% if @content_item.show_guide_navigation? %>
      <aside class="part-navigation-container" role="complementary">
        <%= render "govuk_publishing_components/components/contents_list", aria_label: 'Pages in this guide', contents: @content_item.part_link_elements, underline_links: true %>
      </aside>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @content_item.has_parts? %>
      <% if @content_item.show_guide_navigation? %>
        <h1 class="part-title">
          <%= @content_item.current_part_title %>
        </h1>
      <% end %>

      <%= render 'govuk_publishing_components/components/govspeak',
          content: @content_item.current_part_body.html_safe,
          direction: page_text_direction,
          disable_youtube_expansions: true %>

      <% if @content_item.show_guide_navigation? %>
        <%= render 'govuk_publishing_components/components/previous_and_next_navigation', @content_item.previous_and_next_navigation %>
        <%= render 'govuk_publishing_components/components/print_link', href: @content_item.print_link, text: t("multi_page.print_entire_guide") %>
      <% end %>
    <% end %>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
