<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url
  ) %>
<% end %>

<% content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', { title: @content_item.title } %>
    <% if @content_item.multi_page_guide? %>
      <aside class="part-navigation-container" role="complementary">
        <%= render "govuk_publishing_components/components/contents_list", aria_label: 'Pages in this guide', contents: @content_item.part_link_elements, underline_links: true %>
      </aside>
    <% end %>
  </div>
  <div class="column-two-thirds">
    <% if @content_item.has_parts? %>
      <% if @content_item.multi_page_guide? %>
        <h1 class="part-title">
          <%= @content_item.current_part_title %>
        </h1>
      <% end %>
      <%= render 'govuk_publishing_components/components/govspeak',
          content: @content_item.current_part_body.html_safe,
          direction: page_text_direction,
          disable_youtube_expansions: true,
          rich_govspeak: true %>
      <%= render 'govuk_publishing_components/components/previous_and_next_navigation', @content_item.previous_and_next_navigation %>

      <% if @content_item.multi_page_guide? %>
        <%= render 'components/print-link', href: @content_item.print_link, link_text: t("multi_page.print_entire_guide") %>
      <% end %>
    <% end %>

    <div class="go-deeper">
      <p>See more guides in:

        <ul class="inline-topic-list">
          <% @content_item.taxons.each do |taxon| %>
          <li><a href="<%= taxon["base_path"] %>"><%= taxon["title"] %></a></li>
          <% end %>
        </ul>
      </p>
    </div>
  </div>
    <%# render 'shared/sidebar_navigation', local_assigns %>
</div>

<div class="can-do">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2><span class="context">More in</span> <%= link_to(@content_item.taxon["title"], @content_item.taxon["base_path"]) %></h2>
    </div>
    <div class="column-third">
      <ol class="organisation-logos">
        <li class="organisation-logo">
          <%= render 'govuk_component/organisation_logo', @content_item.organisation_logo(@content_item.publishing_organisation) %>
        </li>
      </ol>
    </div>

  </div>

  <% services_items = related_stuff(
    reject_link: @content_item.base_path,
    filter_taxons: @content_item.taxon["content_id"],
    filter_content_purpose_supergroup: "services",
    order: 'popularity',
    count: 3
  ) %>

  <% if services_items[:items].any? %>
  <div class="can-do-services can-do-section">
    <h3>Services</h3>

    <%= render 'shared/highlight_box', type: "services", items: services_items %>

    <p><a href="#">See more services</a></p>
  </div>
  <% end %>

  <% mainstream_guidance_items = related_stuff(
    reject_link: @content_item.base_path,
    filter_taxons: @content_item.taxon["content_id"],
    filter_content_purpose_supergroup: "guidance_and_regulation",
    order: 'popularity',
    count: 3
  )

  guidance_items = related_stuff(
    reject_link: @content_item.base_path,
    filter_taxons: @content_item.taxon["content_id"],
    filter_content_purpose_supergroup: "guidance_and_regulation",
    order: 'popularity',
    count: 5,
    start: 3
  )
  %>

  <% if mainstream_guidance_items[:items].any? %>
  <div class="can-do-guidance can-do-section">
    <h3>Guidance and regulation</h3>

    <%= render 'shared/highlight_box', type: "guidance", items: mainstream_guidance_items %>

    <%= render "govuk_publishing_components/components/document_list", guidance_items %>

    <p><a href="#">See more guidance and regulation</a></p>
  </div>
    <%= render 'shared/sidebar_navigation' %>
  <% end %>

  <% business_support_items = related_stuff(
    reject_link: @content_item.base_path,
    filter_taxons: @content_item.taxon["content_id"],
    filter_content_purpose_subgroup: "business_support",
    order: '-public_timestamp',
    count: 5
  ) %>

  <% if business_support_items[:items].any? %>
  <div class="can-do-business-support can-do-section">
    <h3>Business support</h3>

    <%= render "govuk_publishing_components/components/document_list", business_support_items %>

    <p><a href="#">See more business support</a></p>
  </div>
  <% end %>

  <% regulations_items = related_stuff(
    reject_link: @content_item.base_path,
    filter_taxons: @content_item.taxon["content_id"],
    filter_content_purpose_subgroup: "regulation",
    order: '-public_timestamp',
    count: 5
  ) %>

  <% if regulations_items[:items].any? %>
  <div class="can-do-regulation can-do-section">
    <h3>Regulation</h3>

    <%= render "govuk_publishing_components/components/document_list", regulations_items  %>

    <p><a href="#">See more regulation</a></p>
  </div>
  <% end %>

  <% policy_items = related_stuff(
    reject_link: @content_item.base_path,
    filter_taxons: @content_item.taxon["content_id"],
    filter_content_purpose_subgroup: "policy",
    order: '-public_timestamp',
    count: 5
  ) %>

  <% if policy_items[:items].any? %>
  <div class="can-do-policy can-do-section">
    <h3>Policy</h3>

    <%= render "govuk_publishing_components/components/document_list", policy_items %>

    <p><a href="#">See more policy</a></p>
  </div>
  <% end %>

</div>
