<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url,
    body: @content_item.has_parts? ? @content_item.current_part_body : nil
  ) %>

  <%
    scroll_track_headings_paths = [
      "/council-housing",
      "/driving-abroad",
      "/get-a-passport-urgently",
      "/driving-abroad/international-driving-permit",
      "/taking-goods-out-uk-temporarily/get-an-ata-carnet",
    ]

    full_url = [@content_item.base_path, @content_item.part_slug].compact.join('/')
  %>
  <% if scroll_track_headings_paths.include?(full_url) %>
    <meta name="govuk:scroll-tracker" content="" data-module="auto-scroll-tracker" data-track-type="headings"/>
  <% end %>
<% end %>

<% unless @content_item.requesting_a_part? %>
<script type="application/ld+json">
  <%= raw JSON.pretty_generate(MachineReadable::GuideFaqPageSchemaPresenter.new(@content_item, self).structured_data) %>
</script>
<% end %>

<% content_for :simple_header, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', { title: @content_item.content_title } %>

    <% if @content_item.show_guide_navigation? %>
      <%= render "govuk_publishing_components/components/skip_link", {
        text: t("guide.skip_to_contents"),
        href: "#guide-contents"
      } %>
      <aside class="part-navigation-container" role="complementary">
        <%= render "govuk_publishing_components/components/contents_list", aria_label: t("guide.pages_in_guide"), contents: @content_item.part_link_elements, underline_links: true %>
      </aside>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds" id="guide-contents">
    <% if @content_item.has_parts? %>
      <% if @content_item.show_guide_navigation? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: @content_item.current_part_title,
          margin_bottom: 3
        } %>
      <% end %>

      <%= render "govuk_publishing_components/components/govspeak", {
        direction: page_text_direction,
        disable_youtube_expansions: true
      } do %>
        <%= raw(@content_item.current_part_body) %>
      <% end %>

      <% if @content_item.show_guide_navigation? %>
        <%= render 'govuk_publishing_components/components/previous_and_next_navigation', @content_item.previous_and_next_navigation %>

        <div class="responsive-bottom-margin">
          <a href="<%= @content_item.print_link %>" class="govuk-link govuk-link--no-visited-state govuk-body"><%= t("multi_page.print_entire_guide") %></a>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
