<% add_view_stylesheet("guide") %>
<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url,
    body: @content_item.has_parts? ? @content_item.current_part_body : nil
  ) %>

  <%
    scroll_track_headings_paths = [
      "/council-housing",
      "/driving-abroad",
      "/get-a-passport-urgently",
      "/driving-abroad/international-driving-permit",
      "/taking-goods-out-uk-temporarily/get-an-ata-carnet",
    ]

    scroll_track_percent_paths = [
      "/skilled-worker-visa",
      "/skilled-worker-visa/documents-you-must-provide",
      "/apply-to-come-to-the-uk",
    ]

    ga4_scroll_track_headings_paths = [
      "/log-in-register-hmrc-online-services",
      "/universal-credit",
      "/pay-dartford-crossing-charge",
      "/prove-right-to-work/get-a-share-code-online",
      "/prove-right-to-work",
      "/renew-adult-passport/renew",
      "/change-address-driving-licence",
      "/self-assessment-tax-returns",
      "/vehicle-log-book",
      "/income-tax-rates",
      "/the-warm-home-discount-scheme",
      "/winter-fuel-payment",
      "/pay-self-assessment-tax-bill",
      "/log-in-register-hmrc-online-services/register",
      "/pip/how-much-youll-get",
      "/help-with-childcare-costs",
      "/pip/eligibility",
      "/pension-credit",
      "/child-maintenance-service",
      "/child-benefit/how-to-claim",
      "/carers-allowance",
      "/photos-for-passports",
      "/budgeting-help-benefits/how-to-apply",
      "/update-uk-visas-immigration-account-details",
      "/renew-adult-passport",
      "/new-state-pension/what-youll-get",
      "/get-a-passport-urgently",
      "/power-of-attorney",
      "/child-trust-funds/find-a-child-trust-fund",
      "/student-finance",
      "/apply-national-insurance-number/how-to-apply",
      "/inheritance-tax",
      "/child-benefit-tax-charge",
      "/power-of-attorney/make-lasting-power",
      "/prove-right-to-rent",
      "/attendance-allowance/how-to-claim",
      "/prove-right-to-rent/get-a-share-code-online",
      "/new-state-pension",
      "/self-assessment-tax-returns/sending-return",
      "/limited-company-formation/register-your-company",
      "/electoral-register",
      "/biometric-residence-permits",
      "/winter-fuel-payment/how-to-claim",
      "/self-assessment-tax-returns/who-must-send-a-tax-return",
      "/apply-national-insurance-number",
      "/get-a-passport-urgently/1-week-fast-track-service",
      "/life-in-the-uk-test",
      "/jobseekers-allowance",
      "/the-warm-home-discount-scheme/low-income-England-Wales",
      "/cold-weather-payment",
      "/pay-corporation-tax",
      "/repaying-your-student-loan",
      "/carers-allowance/how-to-claim",
      "/attendance-allowance/eligibility",
      "/national-insurance",
      "/applying-for-probate",
      "/contact-pension-service",
      "/employment-support-allowance/eligibility",
      "/holiday-entitlement-rights",
      "/get-a-child-passport",
      "/paye-online",
      "/national-insurance/your-national-insurance-number",
      "/get-a-passport-urgently/online-premium-service",
      "/log-in-register-hmrc-online-services/problems-signing-in",
      "/pay-vat",
      "/jobseekers-allowance/eligibility",
      "/tax-overpayments-and-underpayments/if-youre-due-a-refund",
      "/help-with-childcare-costs/free-childcare-2-year-olds",
      "/applying-for-probate/apply-for-probate",
      "/pension-credit/how-to-claim",
      "/report-changes-child-benefit",
      "/tax-codes/how-to-update-your-tax-code",
      "/get-help-savings-low-income",
      "/disability-living-allowance-children",
      "/jobseekers-allowance/apply-new-style-jsa",
      "/change-name-deed-poll",
      "/statutory-sick-pay/what-youll-get",
      "/get-information-about-property-and-land/copies-of-deeds",
      "/schools-admissions/how-to-apply",
      "/financial-help-disabled",
      "/redundancy-your-rights/redundancy-pay",
      "/tax-overpayments-and-underpayments",
      "/tax-codes/emergency-tax-codes",
      "/access-to-work",
      "/skilled-worker-visa/apply-from-outside-the-uk",
      "/disability-living-allowance-children/how-to-claim",
      "/statutory-sick-pay/eligibility",
      "/health-conditions-and-driving",
      "/tax-relief-for-employees/working-at-home",
      "/vehicle-log-book/if-you-cannot-apply-online",
      "/what-different-qualification-levels-mean/list-of-qualification-levels",
      "/tb-test-visa",
      "/apply-to-come-to-the-uk/prepare-your-application",
      "/apply-citizenship-indefinite-leave-to-remain/how-to-apply",
      "/child-car-seats-the-rules",
      "/pip/change-of-circumstances",
      "/child-benefit-tax-charge/pay-the-charge",
      "/uk-visa-sponsorship-employers",
      "/personalised-vehicle-registration-numbers",
      "/renew-adult-passport/replace",
      "/apply-boiler-upgrade-scheme/check-if-youre-eligible",
      "/council-housing",
      "/carers-allowance/effect-on-other-benefits",
      "/income-tax",
      "/voluntary-national-insurance-contributions",
      "/inheritance-tax/passing-on-home",
      "/repaying-your-student-loan/which-repayment-plan-you-are-on",
      "/changing-passport-information",
      "/change-circumstances-visa-brp",
      "/standard-visitor",
      "/apply-to-come-to-the-uk",
      "/change-address-v5c",
      "/pip",
      "/skilled-worker-visa",
      "/child-benefit",
      "/vehicle-tax-rate-tables",
      "/tax-codes"
    ]

    full_url = [@content_item.base_path, @content_item.part_slug].compact.join('/')
  %>
  <% if scroll_track_headings_paths.include?(full_url) %>
    <meta name="govuk:scroll-tracker" content="" data-module="auto-scroll-tracker" data-track-type="headings"/>
  <% elsif scroll_track_percent_paths.include?(@content_item.base_path) %>
    <meta name="govuk:scroll-tracker" content="" data-module="auto-scroll-tracker"/>
  <% end %>

  <% if ga4_scroll_track_headings_paths.include?(full_url) %>
    <meta name="govuk:scroll-tracker" content="" data-module="ga4-scroll-tracker"/>
  <% end %>

  <%= ab_test_variant.analytics_meta_tag.html_safe if ab_test_page? %>
<% end %>

<% unless @content_item.requesting_a_part? %>
<script type="application/ld+json">
  <%= raw JSON.pretty_generate(MachineReadable::GuideFaqPageSchemaPresenter.new(@content_item, self).structured_data) %>
</script>
<% end %>

<% content_for :simple_header, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', { title: @content_item.content_title } %>

    <% if @content_item.show_guide_navigation? %>
      <%= render "govuk_publishing_components/components/skip_link", {
        text: t("guide.skip_to_contents"),
        href: "#guide-contents"
      } %>
      <aside class="part-navigation-container" role="complementary">
        <%= render "govuk_publishing_components/components/contents_list", aria: { label: t("guide.pages_in_guide") }, contents: @content_item.part_link_elements, underline_links: true %>
      </aside>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6" id="guide-contents">
    <% if @content_item.has_parts? %>
      <% if @content_item.show_guide_navigation? %>
        <%= render 'govuk_publishing_components/components/heading', heading_level: 1, font_size: 'l', margin_bottom: 6, text: @content_item.current_part_title %>
      <% end %>
      <%
        disable_youtube_expansions = true
        # This is for the /child-benefit/how-to-claim page
        if @content_item.content_id == "aed2cee3-7ca8-4f00-ab17-9193fff516ae"
          disable_youtube_expansions = false
        end
      %>
      <%= render "govuk_publishing_components/components/govspeak", {
        direction: page_text_direction,
        disable_youtube_expansions: disable_youtube_expansions
      } do %>
        <%= raw(@content_item.current_part_body) %>
      <% end %>

      <% if @content_item.show_guide_navigation? %>
        <%= render 'govuk_publishing_components/components/previous_and_next_navigation', @content_item.previous_and_next_navigation %>

        <div class="responsive-bottom-margin">
          <a href="<%= @content_item.print_link %>"
            class="govuk-link govuk-link--no-visited-state govuk-body"
            data-module="ga4-link-tracker"
            data-ga4-link="<%= {
              event_name: "navigation",
              type: "print page",
              section: "Footer",
              text: t("multi_page.print_entire_guide", locale: :en)
            }.to_json %>">
            <%= t("multi_page.print_entire_guide") %>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
