<% content_for :header %>
  <%= render "content_items/manuals/header", {
    content_item: @content_item,
    heading_level: 1,
    margin_bottom: 6,
    green_background: true,
    supertitle: I18n.t("manuals.hmrc_manual_type"),
  } %>
<% end %>

<% content_for :main %>
  <div id="manuals-frontend" class="manuals-frontend-body">
    <%= render "govuk_publishing_components/components/breadcrumbs", {
               border: "bottom",
               breadcrumbs: @content_item.breadcrumbs,
               collapse_on_mobile: false } %>

    <div class="govuk-grid-row">
      <div class="manual-body" id="content">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <%= render "govuk_publishing_components/components/heading", {
              text: @content_item.document_heading.join(" - "),
              font_size: "m",
              id: "section-title",
              heading_level: 1,
              margin_bottom: 4,
            } %>
          </div>

          <% if @content_item.description.present? %>
            <div class="govuk-grid-column-two-thirds">
              <%= render "govuk_publishing_components/components/lead_paragraph", {
                text: @content_item.description
              } %>
            </div>
          <% end %>

          <% if @content_item.body.present? %>
            <div class="govuk-grid-column-two-thirds">
              <%= render "govuk_publishing_components/components/govspeak", {} do %>
                <%= raw(@content_item.body) %>
              <% end %>
            </div>
          <% end %>

          <% @content_item.section_groups.each do | group | %>
            <div class="subsection-collection govuk-grid-column-full">
              <%= render "content_items/manuals/hmrc_sections", group: group %>
            </div>
          <% end %>

          <div class="govuk-grid-column-full">
            <%= render "govuk_publishing_components/components/previous_and_next_navigation", @content_item.previous_and_next_links %>
          </div>
        </article>
      </div>
    </div>

    <%= render 'govuk_publishing_components/components/print_link', {
      data_attributes: {
        module: "ga4-event-tracker",
        ga4_event: {
          event_name: 'print_page',
          type: 'print page',
          index: {
            index_link: 1,
          },
          index_total: 1,
          section: 'Footer',
        },
      },
    } %>
  </div>
<% end %>
