<% add_view_stylesheet("html-publication") %>
<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :html_publication
  ) %>
<% end %>

<%
  content_for :simple_header, true
%>


<div class="govuk-!-margin-top-5">
  <%= render 'govuk_publishing_components/components/inverse_header', {} do %>
    <%= render 'govuk_publishing_components/components/title',
          title: @content_item.title,
          context: I18n.t("content_item.schema_name.#{@content_item.format_sub_type}", count: 1),
          inverse: true,
          margin_bottom: 0,
          margin_top: 3
    %>

    <%= render 'govuk_publishing_components/components/metadata', @content_item.publisher_metadata.merge(
        inverse: true,
        inverse_compress: true
      ) %>
  <% end %>
</div>
<%= render 'shared/history_notice', content_item: @content_item %>
<% if @content_item.withdrawn? %>
  <%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
<% end %>
<% if @content_item.national_applicability.present? %>
  <%= render "govuk_publishing_components/components/devolved_nations", {
    national_applicability: @content_item.national_applicability,
    type: @content_item.schema_name,
  } %>
<% end %>

<div id="contents">
  <div class="govuk-grid-row">
    <% if @content_item.contents.any? %>
      <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
        <%= render 'govuk_publishing_components/components/contents_list', contents: @content_item.contents, format_numbers: true %>

        <%= render 'govuk_publishing_components/components/print_link', {
          margin_top: 0,
          margin_bottom: 6,
        } %>
      </div>
    <% end %>

    <div class="print-wrapper">
      <div class="meta-data meta-data--display-print">
        <%= render partial: "content_items/html_publication/print_meta_data" %>
      </div>
    </div>

    <div class="main-content-container<% unless @content_item.contents.any? %> offset-empty-contents-list<% end %>">
      <%= render "govuk_publishing_components/components/govspeak_html_publication", { direction: page_text_direction } do %>
        <%= raw(@content_item.govspeak_body[:content]) %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <%= render 'components/back_to_top', href: "#contents", text: "Back to top" %>
  </div>
</div>
