<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<%
  content_for :simple_header, true
%>

<% if @content_item.organisations %>
  <div class="publication-external">
    <ol class="organisation-logos">
      <% @content_item.organisations.each do |organisation| %>
      <% logo_attributes = @content_item.organisation_logo(organisation) %>
      <% next unless logo_attributes %>
        <li class="organisation-logos__logo">
          <div class="organisation-logo__inner">
            <%= render 'govuk_publishing_components/components/organisation_logo', logo_attributes %>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= render 'govuk_publishing_components/components/inverse_header', {} do %>
  <%= render 'govuk_publishing_components/components/title',
        title: @content_item.title,
        context: I18n.t("content_item.schema_name.#{@content_item.format_sub_type}", count: 1),
        inverse: true,
        margin_bottom: 0
  %>
  <p class="publication-header__last-changed"><%= @content_item.last_changed %></p>
<% end %>

<%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>

<div
  class="govuk-grid-row sidebar-with-body"
  data-module="sticky-element-container"
  id="contents"
>
  <% if @content_item.contents.any? %>
    <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
      <%= render 'govuk_publishing_components/components/contents_list', contents: @content_item.contents, format_numbers: true %>
    </div>
  <% end %>

  <div class="print-wrapper">
    <div class="print-meta-data">
      <%= render partial: "content_items/html_publication/print_meta_data" %>
    </div>
  </div>

  <div class="main-content-container<% unless @content_item.contents.any? %> offset-empty-contents-list<% end %>">
    <%= render 'govuk_publishing_components/components/govspeak_html_publication', @content_item.govspeak_body %>
  </div>

  <div data-sticky-element class="govuk-sticky-element">
    <%= render 'components/back-to-top', href: "#contents" %>
  </div>
</div>
