<%
  content_for :page_class, @content_item.format.dasherize
  content_for :title, @content_item.title
  content_for :simple_header, true
%>

<header class="publication-header" id="contents">
  <div class="headings">
    <%= render partial: 'govuk_component/title',
        locals: {
          context: I18n.t("content_item.format.#{@content_item.format_sub_type}", count: 1),
          title: @content_item.title,
        } %>
    <%= @content_item.last_changed %>
  </div>
  <nav class="in-page-navigation">
    <h2>
      <%= t("content_item.contents") %>
    </h2>
    <%= @content_item.contents %>
  </nav>
</header>

<%= render partial: 'govuk_component/govspeak_html_publication',
    locals: {
      content: @content_item.body,
      direction: page_text_direction,
    } %>
