<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :html_publication
  ) %>

  <%
    scroll_track_headings_paths = [
      "/government/publications/the-essential-trustee-what-you-need-to-know-cc3/the-essential-trustee-what-you-need-to-know-what-you-need-to-do",
      "/government/publications/spring-budget-2017-documents/spring-budget-2017",
    ]
  %>
  <% if scroll_track_headings_paths.include?(@content_item.base_path) %>
    <meta name="govuk:scroll-tracker" content="" data-module="auto-scroll-tracker" data-track-type="headings"/>
  <% end %>
<% end %>

<%
  content_for :simple_header, true
%>

<% if @content_item.organisations %>
  <div class="publication-external">
    <ul class="organisation-logos">
      <% @content_item.organisations.each do |organisation| %>
        <% logo_attributes = @content_item.organisation_logo(organisation) %>
        <% next unless logo_attributes %>
        <li class="organisation-logos__logo">
          <%= render 'govuk_publishing_components/components/organisation_logo', logo_attributes %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'govuk_publishing_components/components/inverse_header', {} do %>
  <%= render 'govuk_publishing_components/components/title',
        title: @content_item.title,
        context: I18n.t("content_item.schema_name.#{@content_item.format_sub_type}", count: 1),
        inverse: true,
        margin_bottom: 0
  %>
  <p class="publication-header__last-changed"><%= @content_item.last_changed %></p>
<% end %>

<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
<% if @content_item.national_applicability.present? %>
  <%= render "govuk_publishing_components/components/devolved_nations", {
    national_applicability: @content_item.national_applicability,
    type: @content_item.schema_name
  } %>
<% end %>

<div id="contents">
  <div class="govuk-grid-row">
    <% if @content_item.contents.any? %>
      <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
        <%= render 'govuk_publishing_components/components/contents_list', contents: @content_item.contents, format_numbers: true %>

        <%= render 'govuk_publishing_components/components/print_link', {
          margin_top: 0,
          margin_bottom: 6,
          data_attributes: {
            module: "ga4-event-tracker",
            ga4_event: {
              event_name: 'print_page',
              type: 'print page',
              index: {
                index_link: 1,
              },
              index_total: 1,
              section: 'Content',
            },
          },
        } %>
      </div>
    <% end %>

    <div class="print-wrapper">
      <div class="meta-data meta-data--display-print">
        <%= render partial: "content_items/html_publication/print_meta_data" %>
      </div>
    </div>

    <div class="main-content-container<% unless @content_item.contents.any? %> offset-empty-contents-list<% end %>">
      <%= render "govuk_publishing_components/components/govspeak_html_publication", {} do %>
        <%= raw(@content_item.govspeak_body[:content]) %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <%= render 'components/back_to_top', href: "#contents", text: "Back to top" %>
  </div>
</div>
