<%
  content_for :page_class, @content_item.format.dasherize
  content_for :title, @content_item.title
  content_for :simple_header, true
%>

<div class="publication-external">
  <ol class="organisation-logos">
    <% @content_item.organisations.each do |organisation| %>
      <li class="organisation-logo">
        <%= render partial: 'govuk_component/organisation_logo', locals: {
          organisation: {
            name: organisation["logo"]["formatted_title"],
            url: organisation["base_path"],
            brand: @content_item.organisation_brand(organisation),
            crest: organisation["logo"]["crest"]
          }
        } %>
      </li>
    <% end %>
  </ol>

  <div class="see-more-about-container">
    <p class="see-more-about">
      <%= link_to t('html_publication.see_more', document_type: t("content_item.format.#{@content_item.format_sub_type}", count: 1)), @content_item.parent_base_path %>
    </p>
  </div>
</div>

<header class="publication-header" id="contents">
  <div class="headings">
    <div class="html-publication-title">
      <p class="context"><%= I18n.t("content_item.format.#{@content_item.format_sub_type}", count: 1) %></p>
      <h1><%= @content_item.title %></h1>
    </div>
    <%= @content_item.last_changed %>
  </div>
  <nav class="in-page-navigation">
    <h2>
      <%= t("content_item.contents") %>
    </h2>
    <%= @content_item.contents %>
  </nav>
</header>

<%= render partial: 'govuk_component/govspeak_html_publication',
    locals: {
      content: @content_item.body,
      direction: page_text_direction,
      sticky_footer_html: %(<a class="back-to-content" href="#contents">#{ t("content_item.contents") }</a>)
    } %>
