<% content_for :header do %>
  <%= render "content_items/manuals/header", {
    content_item: @content_item, heading_level: 1, margin_bottom: 6,
  } %>
<% end %>

<div id="manuals-frontend" class="manuals-frontend-body">
  <%= render "govuk_publishing_components/components/contents_list", {
    aria: { label: t("manuals.pages_in_manual_section") }, contents: @content_item.contents, underline_links: true
  } %>

  <div class="govuk-grid-row">
    <div class="manual-body">
      <article aria-labelledby="section-title">
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/heading", {
            text: @content_item.document_heading.join(" - "),
            font_size: "m",
            id: "section-title",
            heading_level: 1,
            margin_bottom: 4,
          } %>
        </div>

        <% if @content_item.description.present? %>
          <div class="govuk-grid-column-two-thirds">
            <%= render "govuk_publishing_components/components/lead_paragraph", {
              text: @content_item.description
            } %>
          </div>
        <% end %>

        <div class="govuk-grid-column-two-thirds">
          <% if @content_item.intro.present? %>
            <%= render "govuk_publishing_components/components/govspeak", {} do
              raw(@content_item.intro)
            end %>
          <% end %>

          <% if @content_item.body.present? %>
            <% if @content_item.visually_expanded? %>
              <% @content_item.main.map do |item| %>
                <div class="govuk-!-margin-bottom-3">
                  <%= render "govuk_publishing_components/components/heading", {
                    text: item[:heading][:text],
                    font_size: "m",
                    margin_bottom: 1,
                    id: item[:heading][:id],
                  } %>
                </div>
                <div class="govuk-body govuk-!-margin-bottom-1">
                  <%= render "govuk_publishing_components/components/govspeak", {} do
                    raw(item[:content])
                  end %>
                </div>
              <% end %>
            <% else %>
              <%
                items = @content_item.main.each.with_index(1).map do |item, index|
                  rendered_content = render "govuk_publishing_components/components/govspeak", {} do
                    raw(item[:content])
                  end

                  {
                    data_attributes: {
                      ga4_event: {
                        event_name: "select_content",
                        type: "accordion",
                        text: item[:heading][:text],
                        index: index,
                        index_total: @content_item.main.length,
                      }
                    },
                    heading: item[:heading],
                    content: {
                      html: rendered_content,
                    },
                  }
                end
              %>

              <%= render "govuk_publishing_components/components/accordion", {
                ga4_tracking: true,
                anchor_navigation: true,
                items: items,
              } %>
            <% end %>
          <% end %>
        </div>
      </article>
    </div>
  </div>

  <%= render 'govuk_publishing_components/components/print_link', {
    data_attributes: {
      module: "ga4-event-tracker",
      ga4_event: {
        event_name: 'print_page',
        type: 'print page',
        index: {
          index_link: 1,
        },
        index_total: 1,
        section: 'Footer',
      },
    },
  } %>
</div>
