<%= content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
               context: t("content_item.schema_name.#{@content_item.document_type}", count: 1),
               title: @content_item.title,
               average_title_length: "long" %>

    <% if @content_item.national_statistics? %>
      <%= image_tag 'national-statistics.png', alt: 'National Statistics' %>
    <% end %>
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
    <%= render 'components/publisher-metadata', @content_item.content_metadata %>
    <%= render 'components/notice', @content_item.withdrawal_notice_component  %>
    <%= render 'shared/history_notice', content_item: @content_item %>
    <div class="responsive-bottom-margin">
      <%= render 'publication_inline_body' %>
    </div>
  </div>
</div>

<div class="grid-row">

  <%= render 'shared/sidebar_navigation' %>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="responsive-bottom-margin">
      <%= render 'components/published-dates', {
            published: @content_item.published,
            last_updated: @content_item.updated,
            history: @content_item.history
          } %>
    </div>
  </div>
</div>
