<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: (@content_item.dataset? ? :dataset : :article)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title',
       context: t("content_item.schema_name.#{@content_item.document_type}", count: 1),
       context_locale: t_locale_fallback("content_item.schema_name.#{@content_item.document_type}", count: 1),
       title: @content_item.title,
       average_title_length: "long" %>
  </div>
  <%= render 'shared/translations' %>

  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>
<%= render 'shared/history_notice', content_item: @content_item %>

<%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
<%= render 'components/header-notice', @content_item.no_deal_notice_component unless @content_item.withdrawal_notice_component %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds responsive-bottom-margin">
    <%= render 'components/important-metadata', items: @content_item.important_metadata %>
    <div class="responsive-bottom-margin">
      <%= render "attachments",
          title: t("publication.documents", count: 5), # This should always be pluralised.
          legacy_pre_rendered_documents: @content_item.documents,
          attachments: @content_item.featured_attachments %>


      <section id="details">
        <%= render "govuk_publishing_components/components/heading", {
          text: t("publication.details"),
          mobile_top_margin: true,
        } %>

        <%= render "govuk_publishing_components/components/govspeak", {
          direction: page_text_direction,
        } do %>
          <%= sanitize(@content_item.details) %>
        <% end %>
      </section>
    </div>

    <%= render 'components/published-dates', {
        published: @content_item.published,
        last_updated: @content_item.updated,
        history: @content_item.history
      } %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
