<%= content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
               context: t("content_item.schema_name.#{@content_item.document_type}", count: 1),
               title: @content_item.title,
               average_title_length: "long" %>

    <%= render 'shared/translations' %>
    <% if @content_item.national_statistics? %>
      <%= render 'shared/national_statistics_logo' %>
    <% end %>

    <%= render 'components/notice', @content_item.withdrawal_notice_component  %>
    <%= render 'shared/metadata', content_item: @content_item %>
    <%= render 'shared/history_notice', content_item: @content_item %>
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
    <%= render 'publication_inline_body' %>
  </div>

  <div class="column-third add-title-margin">
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @content_item.taxonomy_sidebar %>
  </div>
</div>

<%= render 'shared/footer', @content_item.document_footer %>
