<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: (@content_item.dataset? ? :dataset : :article)
  ) %>
<% end %>

<%= render 'shared/email_subscribe_unsubscribe_flash' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'context_and_title' %>
  </div>
  <%= render 'shared/translations' %>

  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>
<%= render 'govuk_publishing_components/components/single_page_notification_button', {
  base_path: @content_item.base_path,
  js_enhancement: @include_single_page_notification_button_js,
  margin_bottom: 6,
  button_location: "top",
} if @notification_button_visible %>
<%= render 'shared/history_notice', content_item: @content_item %>

<%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="responsive-bottom-margin">
      <%= render "govuk_publishing_components/components/devolved_nations", {
        national_applicability: @content_item.national_applicability || {},
        type: @content_item.schema_name
      } %>
      <div class="responsive-bottom-margin">
        <%= render "attachments",
          title: t("publication.documents", count: 5), # This should always be pluralised.
          legacy_pre_rendered_documents: @content_item.documents,
          attachments: @content_item.featured_attachments
        %>

        <section id="details">
          <%= render "govuk_publishing_components/components/heading", {
            text: t("publication.details"),
            mobile_top_margin: true,
          } %>

          <%= render "govuk_publishing_components/components/govspeak", {
            direction: page_text_direction,
          } do %>
            <%= raw(@content_item.details) %>
          <% end %>
        </section>
      </div>

      <%= render 'components/published-dates', {
        published: @content_item.published,
        last_updated: @content_item.updated,
        history: @content_item.history,
        margin_bottom: 3
      } %>

      <%= render 'govuk_publishing_components/components/single_page_notification_button', {
        base_path: @content_item.base_path,
        js_enhancement: @include_single_page_notification_button_js,
        button_location: "bottom",
      } if @notification_button_visible %>
    </div>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
