<%= content_for :title, @content_item.page_title %>
<%= content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
               context: t("content_item.format.#{@content_item.document_type}", count: 1),
               title: @content_item.title,
               average_title_length: "long" %>

    <%= render 'shared/translations' %>
    <% if @content_item.national_statistics? %>
      <%= render 'shared/national_statistics_logo' %>
    <% end %>

    <%= render 'shared/withdrawal_notice', content_item: @content_item %>
    <%= render 'shared/metadata', content_item: @content_item %>
    <%= render 'shared/history_notice', content_item: @content_item %>
    <%= render 'shared/description', description: @content_item.description %>

    <h1 class="section-title" id="documents-title">
      <%= t("publications.documents", count: @content_item.documents_count) %>
    </h1>
    <div aria-labelledby="documents-title">
      <%= render 'govuk_component/govspeak',
                 content: @content_item.documents,
                 direction: page_text_direction %>
    </div>

    <h1 class="section-title" id="details-title">
      <%= t("publications.details") %>
    </h1>

    <div aria-labelledby="details-title">
      <%= render 'govuk_component/govspeak',
                 content: @content_item.details,
                 direction: page_text_direction %>
    </div>
  </div>

  <div class="column-third">
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @content_item.taxonomy_sidebar %>
  </div>
</div>

<%= render 'shared/footer', @content_item.document_footer %>
