<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: t("content_item.schema_name.#{@content_item.document_type}", count: 1),
        title: @content_item.title,
        average_title_length: "long" %>

    <%= render 'shared/translations' %>
    <% if @content_item.national_statistics? %>
      <%= render 'shared/national_statistics_logo' %>
    <% end %>

    <%= render 'components/notice', @content_item.withdrawal_notice_component  %>
    <%= render 'shared/metadata', content_item: @content_item %>
    <%= render 'shared/history_notice', content_item: @content_item %>
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>

    <%= render 'components/heading', text: t("publication.documents", count: @content_item.documents_count), id: "documents-title" %>
    <div aria-labelledby="documents-title">
      <%= render 'govuk_component/govspeak',
          content: @content_item.documents,
          direction: page_text_direction %>
    </div>

    <%= render 'components/heading', text: t("publication.details"), id: "details-title" %>

    <div aria-labelledby="details-title">
      <%= render 'govuk_component/govspeak',
          content: @content_item.details,
          direction: page_text_direction %>
    </div>

    <%= render 'shared/footer', @content_item.document_footer %>
  </div>

  <%= render 'shared/sidebar_tasklist', tasklist: tasklist %>
</div>
