<%= content_for :no_breadcrumbs, current_tasklist_ab_test.show_tasklist_header? %>
<%= content_for :simple_header, @navigation.should_present_taxonomy_navigation? %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
       context: t("content_item.schema_name.#{@content_item.document_type}", count: 1),
       title: @content_item.title,
       average_title_length: "long" %>
  </div>
  <%= render 'shared/translations' %>

  <div class="column-two-thirds">
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
    <%= render 'shared/history_notice', content_item: @content_item %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>
<%= render 'components/notice', @content_item.withdrawal_notice_component  %>

<div class="grid-row">
  <div class="column-two-thirds responsive-bottom-margin">
    <%= render 'components/important-metadata', items: @content_item.metadata[:other] %>
    <div class="responsive-bottom-margin">
       <%= render 'publication_inline_body' %>
    </div>

    <%= render 'components/published-dates', {
        published: @content_item.published,
        last_updated: @content_item.updated,
        history: @content_item.history
      } %>
  </div>
  <%= render 'shared/sidebar_navigation', local_assigns %>
</div>
