<%= content_for :page_class, "service-manual-topic" %>
<%= content_for :title, @content_item.title %>

<% content_for :phase_message do %>
  <%= render 'shared/service_manual_custom_phase_message', phase: @content_item.phase %>
<% end %>

<%= render 'govuk_component/breadcrumbs', breadcrumbs: @content_item.breadcrumbs %>

<% content_for :meta_description, @content_item.description %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', title: @content_item.title %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <p class="lede">
      <%= @content_item.description %>
    </p>

    <% @content_item.groups.each do |link_group| %>
      <div class="subsection">
        <h2 class="subsection-title"><%= link_group.name %></h2>
        <p class="subsection-description"><%= link_group.description %></p>
        <ul class="subsection-list">
          <% link_group.linked_items.each do |linked_item| %>
            <li class="subsection-list-item">
              <%= link_to linked_item.label, linked_item.href %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>

  <div class="column-third">
    <% if @content_item.content_owners.any? %>
      <aside class="related">
        <h2 class="related-title" id="related-communities">Join the conversation</h2>
        <p class="related-description">
          Discuss the work you're doing with other service teams across government.
        </p>
        <nav role="navigation" aria-labelledby="related-communities" class="related-communities">
          <ul class="related-list">
            <% @content_item.content_owners.each do |content_owner| %>
              <li class="related-list-item">
                <%= link_to content_owner.title, content_owner.href %>
              </li>
            <% end %>
          </ul>
        </nav>
      </aside>
    <% end %>
  </div>

</div>
