<% add_view_stylesheet("service_manual_guide") %>
<%= content_for :title, "#{@content_item.title} - Service Manual" %>

<% content_for :phase_message do %>
  <%= render 'shared/custom_phase_message', phase: @content_item.phase %>
<% end %>

<% content_for :header do %>
  <div class="govuk-width-container">
    <%= render partial: "content_items/service_manual_breadcrumbs" %>
  </div>
<% end %>

<div class="govuk-width-container">
  <!-- Page title and contact -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-page-header govuk-!-margin-top-3 govuk-!-margin-bottom-3">
        <%= render "govuk_publishing_components/components/heading", {
          text: @content_item.title,
          heading_level: 1,
          font_size: "xl",
          margin_bottom: 8
        } %>
        <p class="govuk-body-l govuk-!-margin-bottom-7 app-page-header__summary">
          <%= @content_item.content_item["description"] %>
        </p>
        <div class="app-page-header__intro govuk-!-padding-bottom-3">
          <%= @content_item.content_item["details"]["body"].html_safe %>
        </div>
      </div>
    </div>
  </div>

  <!-- Points -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ol class="govuk-list">
        <% @content_item.points.each do |point| %>
          <li class="app-service-standard-point" id="criterion-<%= point.number -%>">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number"><%= point.number %>.</span>
              <%= point.title_without_number %>
            </h2>
            <div class="app-service-standard-point__details">
              <%= "<p class='govuk-body'>#{point.description}</p>" if point.description.present? %>
              <p class="govuk-body app-service-standard-point__link"><%= link_to "Read more about point #{ point.number }", point.base_path, class: 'govuk-link' %></p>
            </div>
          </li>
        <% end %>
      </ol>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="related govuk-!-padding-top-4">
        <%= render partial: 'shared/email_signup' %>
        <% if @content_item.poster_url.present? %>
          <div class="related-item">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="download-poster">
              Download the poster
            </h2>
            <p class="govuk-body">
              <%= link_to "Download and print your own Service Standard poster", @content_item.poster_url, class: 'govuk-link' %>
            </p>
          </div>
        <% end %>
      </aside>
    </div>
  </div>
</div>
