<%= content_for :page_class, "service-manual" %>
<%= content_for :title, "#{@content_item.title} - Digital Service Manual" %>

<% content_for :phase_message do %>
  <%= render 'shared/service_manual_custom_phase_message', phase: @content_item.phase %>
<% end %>

<%= render 'govuk_component/breadcrumbs', breadcrumbs: @content_item.breadcrumbs %>

<!-- Page title and contact -->
<div class="grid-row">

  <div class="column-two-thirds">
    <%= render "govuk_component/title", title: @content_item.title, context: @content_item.main_topic_title %>
  </div>

  <div class="column-third">

    <div class="community-contact">
      <p>
        <%= link_to "Give feedback about this page", "/contact/govuk", class: "feedback" %>
      </p>
    </div>
  </div>
</div>

<!-- Metadata-->
<div class="grid-row">
  <div class="column-two-thirds">

    <div class="metadata">
      <dl>
        <% if @content_item.content_owners.any? %>
          <dt>Published by:</dt>
          <% @content_item.content_owners.each do |content_owner| %>
            <dd>
              <%= link_to content_owner.title, content_owner.href %>
            </dd>
          <% end %>
        <% end %>
        <% if @content_item.related_discussion %>
          <dt>Related discussion:</dt>
          <dd>
            <%= link_to @content_item.related_discussion.title, @content_item.related_discussion.href, rel: 'external' %>
          </dd>
        <% end %>
        <dt>Last updated:</dt>
        <dd>
          <%= @content_item.last_published_time_in_words %>
        </dd>
      </dl>
    </div>

  </div>
</div>

<div class="grid-row">
  <div class="column-third">

    <!--  Page contents -->
    <div class="page-contents">
      <h3 class="page-contents-title">Page contents:</h3>
      <ul class="page-contents-list">
        <% @content_item.header_links.each do |header_link| %>
          <li><a href="<%=header_link[:href]%>"><%=header_link[:title]%></a></li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="column-two-thirds">

    <div class="govspeak-wrapper">
      <%= render 'govuk_component/govspeak', content: @content_item.body.html_safe %>
    </div>

  </div>
</div>
