<% add_view_stylesheet("service_manual_guide") %>
<%
  content_for :title, "Service Toolkit"
  content_for :header_title, "Service Toolkit"
%>
<header class="app-hero">
  <div class="app-hero__content govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: "Design and build government services",
            font_size: "xl",
            heading_level: 1,
            inverse: true,
            margin_bottom: 6,
          } %>
          <p class="app-hero__description govuk-body-l govuk-!-margin-bottom-3 app-hero__body--inverse">
            All you need to design, build and run services that meet government standards.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="govuk-width-container">
  <% @content_item.collections.each do |collection| %>
    <div class="app-collection govuk-!-margin-top-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/heading", {
            text: collection["title"],
            font_size: "l",
            margin_bottom: 1,
            id: collection["title"].parameterize,
          } %>
          <p class="app-collection__description govuk-body-l"><%= collection["description"] %></p>
        </div>
      </div>
      <% collection["links"].each_slice(2) do |row_of_links| %>
        <div class="govuk-grid-row">
          <% row_of_links.each do | link | %>
            <div class="govuk-grid-column-one-half">
              <%= render "govuk_publishing_components/components/heading", {
                text: sanitize(link_to link["title"], link["url"], class: "govuk-link"),
                heading_level: 3,
                font_size: "m",
                margin_bottom: 2,
              } %>
              <p class="app-collection__link-description govuk-body"><%= link["description"] %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
