<%
  content_for :title, "Service Manual"
  content_for :phase_message do
    render 'shared/custom_phase_message', phase: @content_item.phase
  end
  content_for :body_classes, 'app-full-width'
%>

<header class="app-hero">
  <div class="app-hero__content govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/title", {
            title: "Service Manual",
            inverse: true,
            margin_top: 0,
            margin_bottom: 6,
          } %>
          <p class="govuk-body-lead app-hero-lead app-hero__body--inverse govuk-!-padding-bottom-1">
            Helping teams to create and run great public services that meet the <%= link_to 'Service Standard', '/service-manual/service-standard', class: 'govuk-link govuk-link--inverse' %>.
          </p>
          <form action="/search" method="get" role="search">
            <input type="hidden" name="filter_manual" value="/service-manual">
            <%= render "govuk_publishing_components/components/search", {
              label_text: "Search the service manual",
              name: "q",
              on_govuk_blue: true,
              type: "search"
            } %>
          </form>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body-s app-hero__body--inverse">
            <%= link_to 'Contact the Service Manual team', '/contact/govuk', class: 'govuk-link govuk-link--inverse' %>
            with any comments or questions.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <% @content_item.topics.each_slice(3) do |row_of_topics| %>
      <div class="govuk-grid-row">
        <% row_of_topics.each do |topic| %>
          <div class="govuk-grid-column-one-third">
            <%= render "govuk_publishing_components/components/heading", {
              text: sanitize(link_to topic["title"], topic["base_path"], class: 'govuk-link'),
              heading_level: 2,
              font_size: "s",
              margin_bottom: 1,
            } %>
            <p class="govuk-body-s"><%= topic["description"] %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="panel govuk-!-padding-top-3 govuk-!-margin-top-5">
          <%= render "govuk_publishing_components/components/heading", {
            text: "The Service Standard",
            font_size: "m",
          } %>
          <p class="govuk-body app-body">The <%= link_to 'Service Standard', '/service-manual/service-standard', class: 'govuk-link' %> provides the principles of building a good service. This manual explains what teams can do to build great services that will meet the standard.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="panel govuk-!-padding-top-3 govuk-!-margin-top-5">
          <%= render "govuk_publishing_components/components/heading", {
            text: "Communities of practice",
            font_size: "m",
          } %>
          <p class="govuk-body app-body">You can view the <%= link_to 'communities of practice', '/service-manual/communities', class: 'govuk-link' %> to find more learning resources, see who has written the guidance in the manual and connect with digital people like you from across government.</p>
        </div>
      </div>
    </div>
  </div>
</div>
