<%= content_for :title, "#{@content_item.title} - Service Manual" %>
<% content_for :meta_description, @content_item.description %>

<% content_for :extra_head do %>
  <%= render "govuk_publishing_components/components/machine_readable_metadata", content_item: @content_item.content_item, schema: :article %>
<% end %>

<% content_for :phase_message do %>
  <%= render "shared/custom_phase_message", phase: @content_item.phase %>
<% end %>

<div class="govuk-width-container">
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: @content_item.breadcrumbs,
    collapse_on_mobile: true
  } %>

  <!-- Page title and contact -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-page-header">
        <%= render "govuk_publishing_components/components/title", {
          context: @content_item.category_title,
          title: @content_item.title,
          margin_bottom: 8
        } %>
        <% if @content_item.show_description? %>
          <p class="govuk-body-l app-page-header__summary">
            <%= @content_item.description %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="govuk-grid-column-one-third app-community-contact govuk-!-padding-bottom-5">
      <p>
        <%= link_to "Give feedback about this page", "/contact/govuk", class: "govuk-link" %>
      </p>
    </div>
  </div>

  <!-- Metadata-->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-metadata--heading">
      <%= render "govuk_publishing_components/components/metadata", {
        from: @content_item.content_owners.map { |content_owner|
          link_to(content_owner.title, content_owner.href)
        }
      } %>
    </div>
  </div>

  <div class="govuk-grid-row" data-module="highlight-active-section-heading">
    <div class="govuk-grid-column-one-third app-sticky-element">
      <!--  Page contents -->
      <div class="page-contents js-page-contents">
        <div class="govuk-!-margin-top-3">
          <%= render "govuk_publishing_components/components/heading", {
            text: "Page contents:",
            heading_level: 2,
            font_size: "s",
            margin_bottom: 1,
          } %>
        </div>
        <ul class="govuk-list app-page-contents__list">
          <% @content_item.header_links.each do |header_link| %>
            <li class="govuk-body-s">
              <%= link_to(header_link[:title], header_link[:href], class: 'govuk-link') %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govspeak-wrapper govuk-!-padding-top-2">
        <%= render "govuk_publishing_components/components/govspeak", content: @content_item.body.html_safe %>
      </div>
      <div class="app-change-history govuk-!-margin-top-6" data-module="gem-toggle">
        <div class="app-change-history__latest-change">
          <% if @content_item.content_owners.any? %>
            <%= render "govuk_publishing_components/components/metadata", {
              last_updated: "#{time_ago_in_words(@content_item.visible_updated_at)} ago",
              from: @content_item.content_owners.map { |content_owner|
                link_to(content_owner.title, content_owner.href)
              }
            } %>
          <% end %>
            <% if @content_item.latest_change.present? %>
              <dl>
                <dt class="govuk-body govuk-!-margin-bottom-0">Last update:</dt>
                <dd>
                  <%= render partial: 'shared/change_history', locals: {change: @content_item.latest_change} %>
                </dd>
              </dl>
            <% end %>
        </div>
        <% if @content_item.previous_changes.present? %>
          <p class="govuk-!-margin-bottom-3">
            <a href="#full-history"
              data-controls="full-history"
              data-toggled-text="- Hide all page updates (<%= @content_item.previous_changes.length %>)"
              data-expanded="false"
              role="button"
              aria-controls="full-history"
              aria-expanded="false"
              class="govuk-link">
                + Show all page updates (<%= @content_item.previous_changes.length %>)
            </a>
          </p>
          <ol id="full-history" class="app-change-history__past govuk-list js-hidden" aria-live="polite" role="region">
            <% @content_item.previous_changes.each do |previous_change| %>
              <li>
                <%= render partial: 'shared/change_history', locals: { change: previous_change, compressed: true} %>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>
    </div>
  </div>
</div>
