<%= content_for :page_class, @content_item.format.dasherize.pluralize %>
<%= content_for :title, "#{@content_item.title} - #{t("content_item.format.#{@content_item.format_display_type}", count: 10)}" %>
<%= content_for :lang, @content_item.locale %>
<%= content_for :direction, @content_item.text_direction %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: t("content_item.format.#{@content_item.format_display_type}", count: 10),
        title: @content_item.title %>
    <%= render 'govuk_component/metadata',
        from: @content_item.from,
        updated: @content_item.updated,
        history: @content_item.short_history,
        published: @content_item.published,
        direction: @content_item.text_direction
    %>
  </div>
</div>

<p class="description"><%= @content_item.description %></p>

<div class="grid-row">
  <div class="column-third">
    <% if @content_item.image %>
      <figure class="sidebar-image">
        <img src="<%= @content_item.image["url"] %>" alt="<%= @content_item.image["alt_text"] %>">
        <figcaption><%= @content_item.image["caption"] %></figcaption>
      </figure>
    <% end %>
  </div>
  <div class="column-two-thirds">
    <%= render 'govuk_component/govspeak',
        content: @content_item.body,
        direction: @content_item.text_direction %>
  </div>
</div>

<%= render 'govuk_component/document_footer',
        from: @content_item.from,
        updated: @content_item.updated,
        history: @content_item.history,
        published: @content_item.published,
        direction: @content_item.text_direction %>
