<%
  content_for :simple_header, true
  content_for :title, @content_item.page_title
%>

<%= render 'shared/title_and_translations', content_item: @content_item %>
<%= render 'shared/metadata', content_item: @content_item %>
<%= render 'shared/description', description: @content_item.description %>

<div class="grid-row sidebar-with-body">
  <% if @content_item.contents.any? %>
    <div class="column-third">
      <%= render 'shared/sidebar_contents', contents: @content_item.contents %>
    </div>
  <% end %>
  <div class="column-two-thirds <% unless @content_item.contents.any? %>offset-one-third<% end %>">
    <%= render 'govuk_component/govspeak',
        content: @content_item.body,
        direction: page_text_direction %>

    <% if @content_item.continuation_link %>
      <%= render(
          'shared/button',
          start: true,
          href: @content_item.continuation_link,
          info: @content_item.will_continue_on
      ) do %>
        Find out more
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer', @content_item.document_footer %>
