<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<% content_for :simple_header, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds responsive-top-margin">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>
  </div>
  <%= render 'shared/translations' %>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'components/important-metadata',
        items: @content_item.important_metadata %>

    <%= render "components/contents-list-with-body", contents: @content_item.contents do %>

      <% if @content_item.protected_food_drink_name? %>
        <img
          class="app-c-figure__image protected-food-drink-name-logo"
          src="<%= @content_item.images.dig(@content_item.protection_type, "url") %>"
          alt="<%= @content_item.images.dig(@content_item.protection_type, "alt_text") %>"
        >
      <% end %>

      <div class="responsive-bottom-margin">
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= sanitize(@content_item.govspeak_body[:content]) %>
        <% end %>

        <% if @content_item.continuation_link %>
          <%= render "govuk_publishing_components/components/button", {
            href: @content_item.continuation_link,
            info_text: @content_item.will_continue_on,
            start: true,
            text: "Find out more",
          } %>
        <% end %>
      </div>

      <div class="responsive-bottom-margin">
        <%= render 'components/published-dates', {
            published: @content_item.published,
            last_updated: @content_item.updated,
            history: @content_item.history
          } %>
      </div>

      <% if @content_item.finder_link %>
        <div class="responsive-bottom-margin">
          <%= @content_item.finder_link %>
        </div>
      <% end %>

    <% end %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
