<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<% content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds responsive-top-margin">
    <%= render 'govuk_publishing_components/components/title',
      title: @content_item.title,
      context: ({ text: @content_item.taxons.first["title"], href: @content_item.taxons.first["base_path"] }  if @content_item.taxons)
    %>
  </div>
  <%= render 'shared/translations' %>
  <div class="column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'components/important-metadata',
        items: @content_item.important_metadata %>

    <%= render "components/contents-list-with-body", contents: @content_item.contents do %>
      <div class="responsive-bottom-margin">
        <%= render 'govuk_publishing_components/components/govspeak', @content_item.govspeak_body %>
        <% if @content_item.continuation_link %>
          <%= render(
              'govuk_publishing_components/components/button',
              start: true,
              href: @content_item.continuation_link,
              text: "Find out more",
              info_text: @content_item.will_continue_on
          ) %>
        <% end %>
      </div>

      <div class="responsive-bottom-margin">
        <%= render 'components/published-dates', {
            published: @content_item.published,
            last_updated: @content_item.updated,
            history: @content_item.history
          } %>
      </div>

      <% if @content_item.finder_link %>
        <div class="responsive-bottom-margin">
          <%= @content_item.finder_link %>
        </div>
      <% end %>

    <% end %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>
