<% content_for :simple_header, true %>

<div class="grid-row">
  <div class="column-two-thirds responsive-top-margin">
    <%= render 'govuk_component/title', @content_item.title_and_context %>
    <%= render 'components/notice', @content_item.withdrawal_notice_component  %>
  </div>
  <%= render 'shared/translations' %>
  <div class="column-two-thirds">
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'components/important-metadata',
        items: @content_item.metadata[:other] %>

    <%= render "components/contents-list-with-body", contents: @content_item.contents do %>
      <div class="responsive-bottom-margin">
        <%= render 'govuk_component/govspeak', @content_item.govspeak_body %>
        <% if @content_item.continuation_link %>
          <%= render(
              'govuk_component/button',
              start: true,
              href: @content_item.continuation_link,
              text: "Find out more",
              info_text: @content_item.will_continue_on
          ) %>
        <% end %>
      </div>

      <div class="responsive-bottom-margin">
        <%= render 'components/published-dates', {
            published: @content_item.published,
            last_updated: @content_item.updated,
            history: @content_item.history
          } %>
      </div>
    <% end %>
  </div>
  <%= render "shared/sidebar_navigation" %>
</div>
