<% content_for :extra_head_content do %>
  <%= stylesheet_link_tag "views/_specialist-document", media: "all" %>
<% end %>
<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<% content_for :simple_header, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/heading', @content_item.heading_and_context %>
  </div>
  <%= render 'shared/translations' %>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @content_item.important_metadata.any? && @content_item.show_metadata_block? %>
      <%= content_tag :div, class: "important-metadata inverse-background responsive-bottom-margin" do %>
        <%= render "govuk_publishing_components/components/metadata", {
          inverse: true,
          other: @content_item.important_metadata,
          margin_bottom: 0,
        } %>
      <% end %>
    <% end %>

    <%= render "govuk_publishing_components/components/contents_list_with_body", contents: @content_item.contents do %>

      <% if @content_item.protected_food_drink_name? %>
        <img
          class="gem-c-figure__image protected-food-drink-name-logo"
          src="<%= @content_item.images.dig(@content_item.protection_type, "url") %>"
          alt="<%= @content_item.images.dig(@content_item.protection_type, "alt_text") %>"
        >
      <% end %>

      <div class="responsive-bottom-margin">
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw(@content_item.govspeak_body[:content]) %>
        <% end %>

        <% if @content_item.continuation_link %>
          <%= render "govuk_publishing_components/components/button", {
            href: @content_item.continuation_link,
            info_text: @content_item.will_continue_on,
            start: true,
            text: "Find out more",
          } %>
        <% end %>
      </div>

      <div class="responsive-bottom-margin">
        <%= render 'govuk_publishing_components/components/published_dates', {
            published: @content_item.published,
            last_updated: @content_item.updated,
            history: @content_item.history
          } %>
      </div>

      <% if @content_item.finder_link %>
        <div class="responsive-bottom-margin">
          <%= @content_item.finder_link %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
