<%
  content_for :simple_header, true
  content_for :title, @content_item.page_title
%>

<%= render 'shared/title_and_translations', content_item: @content_item %>
<%= render 'shared/metadata', content_item: @content_item %>
<%= render 'components/lead-paragraph', text: @content_item.description %>

<div class="grid-row sidebar-with-body">
  <% if @content_item.contents.any? %>
    <div class="column-third">
      <%= render 'components/contents-list', contents: @content_item.contents %>
    </div>
  <% end %>
  <div class="column-two-thirds <% unless @content_item.contents.any? %>offset-one-third<% end %>">
    <%= render 'govuk_component/govspeak', @content_item.govspeak_body %>

    <% if @content_item.continuation_link %>
      <%= render(
          'govuk_component/button',
          start: true,
          href: @content_item.continuation_link,
          text: "Find out more",
          info_text: @content_item.will_continue_on
      ) %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer', @content_item.document_footer %>
