<%= content_for :simple_header, true %>

<%= render 'shared/title_and_translations', content_item: @content_item %>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
    <%= render 'components/notice', @content_item.withdrawal_notice_component  %>
    <%= render 'components/publisher-metadata', @content_item.content_metadata %>
    <%= render 'components/important-metadata', items: @content_item.metadata[:other] %>
    <%= render 'shared/history_notice', content_item: @content_item %>
  </div>
</div>
<%= render 'shared/history_notice', content_item: @content_item %>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'shared/image_with_body', content_item: @content_item %>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="responsive-bottom-margin">
      <%= render 'components/published-dates', {
            published: @content_item.published,
            last_updated: @content_item.updated,
            history: @content_item.history
          } %>
    </div>
  </div>
</div>
