<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, @content_item.page_title %>
<%= content_for :meta_description, @content_item.description %>

<%= render 'shared/title_and_translations', content_item: @content_item %>
<%= render 'shared/withdrawal_notice', content_item: @content_item %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/metadata',
        from: @content_item.from,
        first_published: @content_item.published,
        last_updated: @content_item.updated,
        part_of: @content_item.part_of,
        see_updates_link: true,
        other: {
          @content_item.delivery_type => @content_item.delivered_on_metadata,
          "Location" => @content_item.location
        }
      %>
  </div>
</div>

<%= render 'shared/history_notice', content_item: @content_item %>
<%= render 'shared/description', description: @content_item.description %>
<%= render 'shared/sidebar_with_body', content_item: @content_item %>

<%= render 'govuk_component/document_footer',
    from: @content_item.from,
    published: @content_item.published,
    updated: @content_item.updated,
    history: @content_item.history,
    part_of: @content_item.part_of
%>
