<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :news_article
  ) %>
<% end %>

<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/heading', @content_item.heading_and_context %>
  </div>
  <%= render 'shared/translations' %>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>
<%= render 'shared/history_notice', content_item: @content_item %>
<% if @content_item.withdrawn? %>
  <%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
<% end %>

<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    <div class="content-bottom-margin">
      <div class="responsive-bottom-margin">
        <% if @content_item.important_metadata.any? %>
          <%= content_tag :div, class: "important-metadata inverse-background responsive-bottom-margin" do %>
            <%= render "govuk_publishing_components/components/metadata", {
              inverse: true, 
              other: @content_item.important_metadata,
              margin_bottom: 0,
            } %>
          <% end %>
        <% end %>

        <%= render 'components/figure',
          src: @content_item.image["url"],
          alt: @content_item.image["alt_text"],
          credit: @content_item.image["credit"],
          caption: @content_item.image["caption"] if @content_item.image %>

        <%= render "govuk_publishing_components/components/govspeak", {
          direction: page_text_direction,
        } do %>
          <%= raw(@content_item.body) %>
        <% end %>
      </div>

      <%= render 'components/published_dates', {
        published: @content_item.published,
        last_updated: @content_item.updated,
        history: @content_item.history
      } %>
    </div>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
