<% content_for :head do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/heading', @content_item.heading_and_context %>
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @content_item.important_metadata.any? %>
      <%= content_tag :div, class: "important-metadata inverse-background" do %>
        <%= render "govuk_publishing_components/components/metadata", {
          inverse: true,
          other: @content_item.important_metadata,
          margin_bottom: 0,
        } %>
      <% end %>
    <% end %>

    <% if @content_item.release_date_changed? %>
      <div class="release-date-changed">
        <%= content_tag :div, class: "inverse-background" do %>
          <%= render "govuk_publishing_components/components/metadata", {
            inverse: true,
            other: {
              t("statistics_announcement.previous_date") => @content_item.previous_release_date,
              t("statistics_announcement.reason_for_change") => @content_item.release_date_change_reason,
            },
            margin_bottom: 0,
            title: t("statistics_announcement.changed_date"),
          } %>
        <% end %>
      </div>
    <% end %>

    <% if @content_item.cancelled? %>
      <%= render 'govuk_publishing_components/components/notice',
          title: t("statistics_announcement.cancelled"),
          description_text: @content_item.cancellation_reason %>
    <% end %>

    <% if @content_item.forthcoming_publication? %>
      <%= render 'govuk_publishing_components/components/notice',
          title: nbsp_between_last_two_words(@content_item.forthcoming_notice_title) %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render 'govuk_publishing_components/components/related_navigation', content_item: @content_item.content_item.parsed_content, context: :sidebar %>
  </div>
</div>
