<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, "#{@content_item.title} - #{t("content_item.format.#{@content_item.document_type}", count: 1)}" %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: t("content_item.format.#{@content_item.document_type}", count: 1),
        title: @content_item.title,
        average_title_length: "long" %>
  </div>

  <% if @content_item.national_statistics? %>
  <div class="column-third">
    <div class="national-statistics-logo">
      <%= image_tag 'national-statistics.png', alt: 'National Statistics' %>
    </div>
  </div>
  <% end %>
</div>

<div class="grid-row primary-metadata">
  <div class="column-two-thirds">
    <%= render 'govuk_component/metadata',
        other: @content_item.other_metadata,
        from: @content_item.from,
        part_of: @content_item.part_of
    %>
  </div>
</div>
<% if @content_item.cancelled? %>
  <div class="cancellation-notice">
    <h2>Statistics release cancelled</h2>
    <p><%= @content_item.cancellation_reason %></p>
  </div>
<% end %>
<%= render 'shared/description', description: @content_item.description %>

<% if @content_item.release_date_changed? %>
<div class="grid-row">
  <div class="column-two-thirds release-date-change-notice">
    <h2>The release date has been changed</h2>
    <%= render 'govuk_component/metadata',
        other: {
          "Previous date" => @content_item.previous_release_date,
          "Reason for change" => @content_item.release_date_change_reason,
        }
    %>
  </div>
</div>
<% end %>
