<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', { title: @content_item.title, context: { text: @content_item.taxon["title"], href: @content_item.taxon["base_path"] } } %>
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render "components/important-metadata",
        items: @content_item.important_metadata,
        margin_bottom: true %>

    <% if @content_item.release_date_changed? %>
      <div class="release-date-changed">
        <%= render "components/important-metadata",
        title: "The release date has been changed",
        items: {
          "Previous date" => @content_item.previous_release_date,
          "Reason for change" => @content_item.release_date_change_reason,
        },
        margin_bottom: true
        %>
      </div>
    <% end %>

    <% if @content_item.cancelled? %>
      <%= render 'components/notice',
          title: 'Statistics release cancelled',
          description_text: @content_item.cancellation_reason %>
    <% end %>

    <% if @content_item.forthcoming_publication? %>
      <%= render 'components/notice',
          title: nbsp_between_last_two_words(@content_item.forthcoming_notice_title) %>
    <% end %>

    <%= render 'shared/go_deeper' %>
  </div>
  <div class="column-one-third">
    <%= render 'govuk_publishing_components/components/related_navigation', @content_item.content_item.parsed_content %>
  </div>
</div>

<div class="can-do">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2><span class="context">More in</span> <%= link_to(@content_item.taxon["title"], @content_item.taxon["base_path"]) %></h2>
    </div>

  </div>

  <%= render 'shared/transparency_can_do_links' %>
</div>
