<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
               context: t("content_item.schema_name.#{@content_item.document_type}", count: 1),
               title: @content_item.title,
               average_title_length: "long" %>
  </div>
  <%= render 'shared/translations', content_item: @content_item %>
  <div class="column-two-thirds">
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
    <%= render 'components/notice', @content_item.withdrawal_notice_component  %>
    <%= render 'shared/history_notice', content_item: @content_item %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>
 
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'components/important-metadata', items: @content_item.important_metadata %>

    <%= render "components/contents-list-with-body", contents: @content_item.contents do %>
    <div class="responsive-bottom-margin">
      <%= render 'govuk_component/govspeak',
                 content: @content_item.body,
                 direction: page_text_direction %>
    </div>
    <div class="responsive-bottom-margin">
      <%= render 'components/published-dates', {
          published: @content_item.published,
          last_updated: @content_item.updated,
          history: @content_item.history
      } %>
    </div>
    <% end %>
  </div>
  <%= render "shared/sidebar_navigation" %>
</div>
