<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, "#{@content_item.title}" %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: t("content_item.format.#{@content_item.format}", count: 1),
        title: @content_item.title,
        average_title_length: "long" %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/metadata',
        other: {
          "Release date" => @content_item.release_date
        },
        from: @content_item.from,
        part_of: @content_item.part_of
    %>
  </div>
</div>

<%= render 'shared/description', description: @content_item.description %>
