<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :dataset
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title',
               context: t("content_item.schema_name.#{@content_item.document_type}", count: 1),
               title: @content_item.title,
               average_title_length: "long" %>
  </div>
  <%= render 'shared/translations', content_item: @content_item %>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
    <%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
    <%= render 'shared/history_notice', content_item: @content_item %>
  </div>
</div>

<%= render 'shared/publisher_metadata_with_logo' %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'components/important-metadata', items: @content_item.important_metadata %>

    <%= render "components/contents-list-with-body", contents: @content_item.contents do %>
    <div class="responsive-bottom-margin">
      <%= render "govuk_publishing_components/components/govspeak", {
        direction: page_text_direction,
      } do %>
        <% sanitize(@content_item.body) %>
      <% end %>

    </div>
    <div class="responsive-bottom-margin">
      <%= render 'components/published-dates', {
          published: @content_item.published,
          last_updated: @content_item.updated,
          history: @content_item.history
      } %>
    </div>
    <% end %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
