<%= content_for :page_class, @content_item.format.dasherize %>
<%= content_for :title, "#{@content_item.title} - #{t("content_item.format.#{@content_item.document_type}", count: 1)}" %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', @content_item.title_and_context %>
  </div>
  <% if @content_item.national_statistics? %>
    <%= render 'shared/national_statistics_logo' %>
  <% end %>
</div>

<div class="primary-metadata">
  <%= render 'shared/metadata', content_item: @content_item %>
</div>
<% if @content_item.cancelled? %>
  <div class="cancellation-notice">
    <h2>Statistics release cancelled</h2>
    <p><%= @content_item.cancellation_reason %></p>
  </div>
<% end %>
<%= render 'shared/description', description: @content_item.description %>

<% if @content_item.release_date_changed? %>
<div class="grid-row">
  <div class="column-two-thirds release-date-change-notice">
    <h2>The release date has been changed</h2>
    <%= render 'govuk_component/metadata',
        other: {
          "Previous date" => @content_item.previous_release_date,
          "Reason for change" => @content_item.release_date_change_reason,
        }
    %>
  </div>
</div>
<% end %>
