<%= content_for :simple_header, true %>

<%= render 'shared/title_and_translations', content_item: @content_item %>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/lead_paragraph', text: @content_item.description %>
    <%= render 'shared/image_with_body', content_item: @content_item %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>
