<%= content_for :page_class, @content_item.format.dasherize.pluralize %>
<%= content_for :title, @content_item.title %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        context: "Service Manual Topic",
        title: @content_item.title,
        average_title_length: 'long' %>
  </div>

  <div class="column-third">
  </div>

  <div class="column-two-thirds">
  </div>
</div>

<p class="description"><%= @content_item.description %></p>

<div class="grid-row">
  <div class="column-two-thirds">

    <p class="lede">
      <%= @content_item.description %>
    </p>

    <% @content_item.groups.each do |link_group| %>
      <div class="subsection">
        <h2 class="subsection__title"><%= link_group.name %></h2>
        <p class="subsection__description"><%= link_group.description %></p>
        <ul class="subsection__list">
          <% link_group.linked_items.each do |linked_item| %>
            <li class="subsection__list-item">
              <%= link_to linked_item.label, linked_item.href %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</div>
