<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<%= render 'shared/title_and_translations', content_item: @content_item %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/contents-list-with-body", {
      contents: @content_item.contents,
    } do %>
      <%= render "govuk_publishing_components/components/govspeak", {
        direction: page_text_direction,
      } do %>
        <%= sanitize(@content_item.body) %>
      <% end %>
    <% end %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
