<%
  content_for :title, "Print #{@content_item.page_title}"
  content_for :simple_header, true
  content_for :extra_head_content do %>
  <meta name="robots" content="noindex, nofollow">
  <script>window.onload = function() { window.print(); }</script>
<% end %>

<div class="grid-row travel-advice-print">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', @content_item.title_and_context %>

    <section>
      <h1 class="part-title">
        <%= @content_item.current_part_title %>
      </h1>
      <%= render 'shared/travel_advice_summary', content_item: @content_item %>
      <%= render 'govuk_component/govspeak',
          content: @content_item.current_part_body,
          direction: page_text_direction %>
    </section>

    <% @content_item.parts.each do |part| %>
      <section>
        <h1 class="part-title">
          <%= part['title'] %>
        </h1>
        <%= render 'govuk_component/govspeak',
            content: part['body'],
            direction: page_text_direction %>
      </section>
    <% end %>
  </div>
</div>
