<%
  content_for :title, @content_item.page_title
  content_for :simple_header, true
  content_for :extra_head_content do %>
  <%= auto_discovery_link_tag :atom, @content_item.feed_link,
    title: "Recent updates for #{@content_item.country_name}" %>
<% end %>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', @content_item.title_and_context %>
    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" class="grid-row part-navigation" aria-label="Travel advice pages">
        <% @content_item.parts_navigation.each_with_index do |part_group, i| %>
          <ol
            class="column-half"
            <% if i == 1 %>
              start="<%= @content_item.parts_navigation_second_list_start %>"
            <% end %>
          >
            <% part_group.each do |part_nav_item| %>
              <li>
                <%= part_nav_item %>
              </li>
            <% end %>
          </ol>
        <% end %>
      </nav>
      <section class="subscriptions">
        <h2 class="visuallyhidden">Subscriptions</h2>
        <ul>
          <li><%= link_to "Get email alerts", @content_item.email_signup_link, class: "email-alerts" %></li>
          <li><%= link_to "Subscribe to feed", @content_item.feed_link, class: "feed" %></li>
        </ul>
      </section>
    </aside>

    <h1 class="part-title">
      <%= @content_item.current_part_title %>
    </h1>

    <% if @content_item.is_summary? %>
      <%= render 'shared/travel_advice_summary', content_item: @content_item %>
    <% end %>

    <%= render 'govuk_component/govspeak',
        content: @content_item.current_part_body,
        direction: page_text_direction %>

    <div class="print-link">
      <%= link_to "Print entire guide", @content_item.print_link, rel: 'alternate' %>
    </div>
  </div>
  <div class="column-one-third add-title-margin">
    <%= render 'govuk_component/related_items', @content_item.related_items %>
  </div>
</div>
