<% add_view_stylesheet("travel-advice") %>
<% content_for :simple_header, true %>

<% content_for :extra_head_content do %>
  <%= auto_discovery_link_tag :atom, @content_item.feed_link, title: "Recent updates for #{@content_item.country_name}" %>

  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url,
    title: @content_item.page_title,
    body: @content_item.body_for_metadata
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds travel-advice__header">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>

    <% @content_item.alert_status.each do |text| %>
      <%= render "govuk_publishing_components/components/warning_text", 
        text: text 
      %> 
    <% end %>

    <aside class="part-navigation-container" role="complementary">
      <%= render "govuk_publishing_components/components/contents_list", aria: { label: t("travel_advice.pages") }, contents: @content_item.part_link_elements, underline_links: true, ga4_tracking: true %>

      <div 
        data-module="ga4-link-tracker"
        data-ga4-link='{ "event_name": "navigation", "type": "subscribe", "index": { "index_link": 1 }, "index_total": 1, "section": "Top" }'
        data-ga4-track-links-only
      >
        <%= render 'govuk_publishing_components/components/subscription_links',
          email_signup_link: @content_item.email_signup_link,
          email_signup_link_text: "Get email alerts"
        %>
      </div>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
  <% unless @content_item.parts.empty? %>
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
      <%= render 'govuk_publishing_components/components/heading', heading_level: 1, font_size: 'l', margin_bottom: 6, text: @content_item.current_part_title %>
      
      <% if @content_item.no_part_slug_provided? %>
        <%= render 'shared/travel_advice_first_part', content_item: @content_item %>
      <% end %>

      <div data-module="gem-track-click"
        data-track-category="SummaryTravelAdviceWarning"
        data-track-action="callOutBoxClicked"
        data-track-links-only
        data-limit-to-element-class="call-to-action">
        <%= render 'govuk_publishing_components/components/govspeak', {
          direction: page_text_direction,
        } do %>
          <%= raw(@content_item.current_part_body) %>
        <% end %>
      </div>

      <%
        previous_and_next_with_ga4_tracking = { ga4_tracking: true }
        previous_and_next_with_ga4_tracking.merge!(@content_item.previous_and_next_navigation) # @content_item is frozen so we make a new hash
      %>
      <%= render 'govuk_publishing_components/components/previous_and_next_navigation', previous_and_next_with_ga4_tracking %>

      <div class="responsive-bottom-margin">
        <a href="<%= @content_item.print_link %>"
          class="govuk-link govuk-link--no-visited-state govuk-body"
          data-module="ga4-link-tracker"
          data-ga4-link="<%= {
            event_name: "navigation",
            type: "content",
            section: "Footer",
            text: t("multi_page.print_entire_guide", locale: :en)
          }.to_json %>"><%= t("multi_page.print_entire_guide") %></a>
      </div>
  <% end %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
