<% content_for :simple_header, true %>

<% content_for :extra_head_content do %>
  <%= auto_discovery_link_tag :atom, @content_item.feed_link, title: "Recent updates for #{@content_item.country_name}" %>

  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url,
    title: @content_item.page_title,
    body: @content_item.current_part_body
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds travel-advice__header">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>

    <div class="travel-advice-notice">
      <div class="travel-advice-notice__header">
        <%= render "govuk_publishing_components/components/warning_text", {
          text: "COVID-19 travel guidance",
          text_assistive: "Important",
          large_font: true,
          heading_level: 2
        } %>
      </div>
      <div class="travel-advice-notice__content">
        <p class="govuk-body">
          <strong>
            Following identification of a new variant of the virus, international travel from your area may be increasingly restricted because of domestic regulations. Different rules apply in <a href="/guidance/local-restriction-tiers-what-you-need-to-know">England</a>, <a href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a href="https://gov.wales/coronavirus-regulations-guidance">Wales</a> and <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-guidance-what-restrictions-mean-you">Northern Ireland</a>. For example, those in Tier 4 areas in England will not be permitted to travel abroad apart from limited exceptions, such as work purposes. Follow all the rules that apply to you.
          </strong>
        </p>
        <p class="govuk-body">
          Other countries have closed borders, and may restrict movement or bring in new quarantine rules with little warning. <a href="/guidance/travel-advice-novel-coronavirus">Check our advice</a> on things to consider, and be prepared to stay overseas longer than planned.
        </p>
        <p class="govuk-body">
          Before you return to the UK you must <a href="/provide-journey-contact-details-before-travel-uk">provide your journey and contact details</a>. Also check if you need to <a href="/uk-border-control">self isolate</a>.
        </p>
      </div>
    </div>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" class="govuk-grid-row part-navigation" aria-label="Travel advice pages" data-module="track-click">
        <%= render "govuk_publishing_components/components/contents_list", contents: @content_item.part_link_elements, underline_links: true %>
      </nav>

      <%= render 'govuk_publishing_components/components/subscription-links', email_signup_link: @content_item.email_signup_link, feed_link: @content_item.feed_link %>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="part-title">
      <%= @content_item.current_part_title %>
    </h1>

    <% if @content_item.is_summary? %>
      <%= render 'shared/travel_advice_summary', content_item: @content_item %>
    <% end %>

    <%= render 'govuk_publishing_components/components/govspeak', {
      direction: page_text_direction,
    } do %>
      <%= raw(@content_item.current_part_body) %>
    <% end %>

    <%= render 'govuk_publishing_components/components/previous_and_next_navigation', @content_item.previous_and_next_navigation %>

    <%= render 'govuk_publishing_components/components/print_link', href: @content_item.print_link, text: t("multi_page.print_entire_guide") %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
