<%
  content_for :simple_header, true
  content_for :extra_head_content do %>
  <%= auto_discovery_link_tag :atom, @content_item.feed_link,
    title: "Recent updates for #{@content_item.country_name}" %>
<% end %>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', @content_item.title_and_context %>
    <aside class="part-navigation-container" role="complementary">
      <%= render 'shared/parts_navigation', content_item: @content_item, navigation_label: 'Travel advice pages' %>
      <%= render 'components/subscription-links', email_signup_link: @content_item.email_signup_link, feed_link: @content_item.feed_link %>
    </aside>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="part-title">
      <%= @content_item.current_part_title %>
    </h1>

    <% if @content_item.is_summary? %>
      <%= render 'shared/travel_advice_summary', content_item: @content_item %>
    <% end %>

    <%= render 'govuk_component/govspeak',
        content: @content_item.current_part_body,
        direction: page_text_direction %>

    <%= render 'govuk_component/previous_and_next_navigation', @content_item.previous_and_next_navigation %>

    <%= render 'components/print-link', href: @content_item.print_link, link_text: t("multi_page.print_entire_guide") %>
  </div>
  <%= render "shared/sidebar_navigation" %>
</div>
