<% content_for :simple_header, true %>

<% content_for :extra_head_content do %>
  <%= auto_discovery_link_tag :atom, @content_item.feed_link, title: "Recent updates for #{@content_item.country_name}" %>

  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url,
    title: @content_item.page_title,
    body: @content_item.current_part_body
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds travel-advice__header">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>

    <div class="travel-advice-notice" data-module="gem-track-click" data-track-category="globalTravelAdviceWarning" data-track-action="callOutBoxClicked" data-track-links-only>
      <div class="travel-advice-notice__header">
        <%= render "govuk_publishing_components/components/warning_text", {
          text: t("travel_advice.coronavirus_warning.title"),
          text_assistive: t("travel_advice.coronavirus_warning.text_assistive"),
          large_font: true,
          heading_level: 2
        } %>
      </div>
      <div class="travel-advice-notice__content">
        <%= t("travel_advice.coronavirus_warning.content_html") %>
      </div>
    </div>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" class="govuk-grid-row part-navigation" aria-label="Travel advice pages">
        <%= render "govuk_publishing_components/components/contents_list", contents: @content_item.part_link_elements, underline_links: true %>
      </nav>

      <%= render 'govuk_publishing_components/components/subscription_links',
          email_signup_link: @content_item.email_signup_link,
          email_signup_link_text: "Get email alerts",
          feed_link: @content_item.feed_link %>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="part-title">
      <%= @content_item.current_part_title %>
    </h1>

    <% if @content_item.is_summary? %>
      <%= render 'shared/travel_advice_summary', content_item: @content_item %>
    <% end %>

    <%= render 'govuk_publishing_components/components/govspeak', {
      direction: page_text_direction,
    } do %>
      <%= raw(@content_item.current_part_body) %>
    <% end %>

    <%= render 'govuk_publishing_components/components/previous_and_next_navigation', @content_item.previous_and_next_navigation %>

    <div class="responsive-bottom-margin">
      <%= render 'govuk_publishing_components/components/print_link', href: @content_item.print_link, text: t("multi_page.print_entire_guide") %>
    </div>

    <%= render 'content_items/save_page' %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
