<% content_for :simple_header, true %>

<% content_for :extra_head_content do %>
  <%= auto_discovery_link_tag :atom, @content_item.feed_link, title: "Recent updates for #{@content_item.country_name}" %>

  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url,
    title: @content_item.page_title,
    body: @content_item.current_part_body
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds travel-advice__header">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>

    <div class="travel-advice-notice">
      <div class="travel-advice-notice__header">
        <%= render "govuk_publishing_components/components/warning_text", {
          text: "Coronavirus (COVID-19) travel",
          text_assistive: "Important",
          large_font: true,
          heading_level: 2
        } %>
      </div>
      <div class="travel-advice-notice__content">
        <% if Time.zone.now < Date.parse("2021-05-17").beginning_of_day %>
          <p class="govuk-body">
            <strong>
              It is illegal to travel abroad from the UK for holidays.
            </strong>
            Follow current COVID-19 rules where you live: <a href="/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do">England</a>, <a href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a href="https://gov.wales/covid-19-alert-levels">Wales</a> and <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-guidance-what-restrictions-mean-you">Northern Ireland</a>.
          </p>
          <p class="govuk-body">
            In England, you must have a <a href="/guidance/coronavirus-covid-19-declaration-form-for-international-travel">permitted reason to travel abroad</a> and complete the declaration form.
          </p>
          <p class="govuk-body">
            Some countries have closed borders, and any country may further restrict travel or bring in new social distancing rules with little warning.
            <a href="/guidance/travel-advice-novel-coronavirus">Check our advice</a> for each country you will visit or transit through.
          </p>
          <p class="govuk-body">
            When you return, follow the rules to <a href="/uk-border-control">enter the UK from abroad</a> (except from Ireland).
          </p>
        <% else %>
          <p class="govuk-body">
            Follow current COVID-19 rules where you live: <a href="/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do">England</a>, <a href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a href="https://gov.wales/covid-19-alert-levels">Wales</a> and <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-guidance-what-restrictions-mean-you">Northern Ireland</a>.
          </p>
          <p class="govuk-body">
            To prevent new COVID variants from entering the UK, you should not travel to <a href="/guidance/red-amber-and-green-list-rules-for-entering-england">amber or red list countries</a>.
          </p>
          <p class="govuk-body">
            To understand the risks in a country follow <a href="/guidance/travel-advice-novel-coronavirus">FCDO Travel Advice</a>.
          </p>
          <p class="govuk-body">
            When you return, follow the rules to <a href="/uk-border-control">enter the UK from abroad</a> (except from Ireland).
          </p>
        <% end %>
      </div>
    </div>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" class="govuk-grid-row part-navigation" aria-label="Travel advice pages" data-module="gem-track-click">
        <%= render "govuk_publishing_components/components/contents_list", contents: @content_item.part_link_elements, underline_links: true %>
      </nav>

      <%= render 'govuk_publishing_components/components/subscription_links',
          email_signup_link: @content_item.email_signup_link,
          email_signup_link_text: "Get email alerts",
          feed_link: @content_item.feed_link %>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="part-title">
      <%= @content_item.current_part_title %>
    </h1>

    <% if @content_item.is_summary? %>
      <%= render 'shared/travel_advice_summary', content_item: @content_item %>
    <% end %>

    <%= render 'govuk_publishing_components/components/govspeak', {
      direction: page_text_direction,
    } do %>
      <%= raw(@content_item.current_part_body) %>
    <% end %>

    <%= render 'govuk_publishing_components/components/previous_and_next_navigation', @content_item.previous_and_next_navigation %>

    <%= render 'govuk_publishing_components/components/print_link', href: @content_item.print_link, text: t("multi_page.print_entire_guide") %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
