<% content_for :simple_header, true %>

<% content_for :extra_head_content do %>
  <%= auto_discovery_link_tag :atom, @content_item.feed_link, title: "Recent updates for #{@content_item.country_name}" %>

  <%= machine_readable_metadata(
    schema: :article,
    canonical_url: @content_item.canonical_url,
    title: @content_item.page_title,
    body: @content_item.current_part_body
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds travel-advice__header">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>

    <div class="travel-advice-notice">
      <div class="travel-advice-notice__header">
        <%= render "govuk_publishing_components/components/warning_text", {
          text: "COVID-19 travel guidance",
          text_assistive: "Important",
          large_font: true,
          heading_level: 2
        } %>
      </div>
      <div class="travel-advice-notice__content">
        <p class="govuk-body">
          <strong>The Foreign, Commonwealth &amp; Development Office currently advises British nationals against all but essential international travel.</strong> <a href="https://www.gov.uk/guidance/coronavirus-covid-19-countries-and-territories-exempt-from-advice-against-all-but-essential-international-travel">Travel to some countries and territories is currently exempted</a>.
        </p>
        <p class="govuk-body">
          This advice is being kept under constant review. Travel disruption is still possible and national control measures may be brought in with little notice, so check our <a href="https://www.gov.uk/guidance/travel-advice-novel-coronavirus">travel guidance</a>.
        </p>
      </div>
    </div>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" class="govuk-grid-row part-navigation" aria-label="Travel advice pages" data-module="track-click">
        <%= render "govuk_publishing_components/components/contents_list", contents: @content_item.part_link_elements, underline_links: true %>
      </nav>

      <%= render 'govuk_publishing_components/components/subscription-links', email_signup_link: @content_item.email_signup_link, feed_link: @content_item.feed_link %>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="part-title">
      <%= @content_item.current_part_title %>
    </h1>

    <% if @content_item.is_summary? %>
      <%= render 'shared/travel_advice_summary', content_item: @content_item %>
    <% end %>

    <%= render 'govuk_publishing_components/components/govspeak', {
      direction: page_text_direction,
    } do %>
      <%= sanitize(@content_item.current_part_body) %>
    <% end %>

    <%= render 'govuk_publishing_components/components/previous_and_next_navigation', @content_item.previous_and_next_navigation %>

    <%= render 'govuk_publishing_components/components/print_link', href: @content_item.print_link, text: t("multi_page.print_entire_guide") %>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
