<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', title: t("unpublishing.title") %>

    <p class="summary govuk-!-font-size-19 govuk-!-margin-bottom-3">
      <%= t("unpublishing.summary") %>
    </p>

    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= raw(@content_item.explanation) %>
    <% end %>

    <% if @content_item.alternative_url.present? %>
      <p class="alternative govuk-!-font-size-19 govuk-!-margin-bottom-3">
        <%= t("common.visit") %> <%= link_to(@content_item.alternative_url, @content_item.alternative_url, class: "govuk-link") %>
      </p>
    <% end %>
  </div>
</div>
