<%= content_for :page_class, "unpublishing" %>
<%= content_for :title, "No longer available - GOV.UK" %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', title: 'The page you are looking for is no longer available' %>

    <p class="summary">
      The information on this page has been removed because it was published in error.
    </p>

    <%= render 'govuk_component/govspeak', content: @content_item.explanation %>

    <% if @content_item.alternative_url.present? %>
      <p class="alternative">
        Visit: <%= link_to(@content_item.alternative_url, @content_item.alternative_url) %>
      </p>
    <% end %>
  </div>
</div>
