<% content_for :simple_header, true %>
<% content_for :extra_head_content do %>
  <%= javascript_include_tag "webchat", integrity: false, type: "module" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/heading', @content_item.heading_and_context %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="content-bottom-margin">
      <%= render 'govuk_publishing_components/components/govspeak' do %>
        <h2 id="webchat-title"><%= t("contact.webchat", locale: :en) %></h2>

        <%= sanitize(@content_item.webchat_body)%>

        <p>
          <span class="js-webchat"
            data-availability-url="<%= @content_item.availability_url %>"
            data-open-url="<%= @content_item.open_url %>"
            data-redirect="<%= @content_item.redirect_attribute %>"
          >
            <% if webchat_unavailable? %>
              <%= unavailability_message %>
            <% else %>
              <span class="js-webchat-advisers-error">
                <%= t("shared.webchat.technical_problem") %>
              </span>
              <span class="js-webchat-advisers-unavailable govuk-!-display-none">
                <%= t("shared.webchat.closed") %>
              </span>
              <span class="js-webchat-advisers-busy govuk-!-display-none">
                <%= t("shared.webchat.busy") %>
              </span>
              <span class="js-webchat-advisers-available govuk-!-display-none">
                <%= t("shared.webchat.available") %>
                <a
                  href="#"
                  data-redirect="<%= @content_item.redirect_attribute %>"
                  rel="external"
                  class="js-webchat-open-button"
                  data-module="ga4-link-tracker"
                  data-ga4-link="<%= @content_item.ga4_link_data %>">
                    <%= t("shared.webchat.speak_to_adviser") %>
                </a>.
              </span>
            <% end %>
          </span>
        </p>
      <% end %>
    </div>
  </div>
  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
