<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :article
  ) %>
<% end %>

<% @additional_body = capture do %>
  <% if @content_item.policies.any? %>
    <h2 id="policies">Policies</h2>
    <ul>
      <% @content_item.policies.each do |policy| %>
        <li><%= link_to policy["title"], policy["base_path"] %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @content_item.email.present? %>
    <h2 id="contact-details">Contact details</h2>
    <p><%= mail_to @content_item.email, @content_item.email %></p>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds responsive-top-margin">
    <%= render 'govuk_publishing_components/components/title', @content_item.title_and_context %>
  </div>
  <%= render 'shared/translations' %>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
    <%= render 'components/contents-list-with-body', contents: @content_item.contents do %>
      <%= render 'govuk_publishing_components/components/govspeak', {
        direction: page_text_direction,
      } do %>
        <%= sanitize(@content_item.body, {
          attributes: %w(id class href),
        }) %>
        <%= sanitize(@additional_body, {
          attributes: %w(id class href),
        }) %>
      <% end %>
    <% end %>
  </div>
</div>
