<%= content_for :title, @content_item.title %>

<%= render 'shared/title_and_translations', content_item: @content_item %>
<%= render 'components/lead-paragraph', description: @content_item.description %>

<% @additional_body = capture do %>
  <% if @content_item.policies.any? %>
    <h2 id="policies">Policies</h2>
    <ul>
      <% @content_item.policies.each do |policy| %>
        <li><%= link_to policy["title"], policy["base_path"] %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @content_item.email.present? %>
    <h2 id="contact-details">Contact details</h2>
    <p><%= mail_to @content_item.email, @content_item.email %></p>
  <% end %>
<% end %>

<%= render 'shared/sidebar_contents_with_body',
      content_item: @content_item,
      body: "#{@content_item.body} #{@additional_body}" %>
