<!DOCTYPE html>
<html>
<head>
  <title>
    government-frontend development page
  </title>
  <meta name="robots" content="noindex, nofollow">
  <%= stylesheet_link_tag "application", integrity: false %>
</head>
<body>
  <div id="wrapper">
    <main class="govspeak" id="content">
      <div class="responsive-top-margin">
        <%= render 'govuk_publishing_components/components/heading', 
          text: 'government-frontend',
          heading_level: 1,
          font_size: "xl",
          margin_bottom: 8
        %>
      </div>

      <% html = capture do %>
        <p>
          Hi, this is the root of the <%= link_to 'government-frontend', 'https://github.com/alphagov/government-frontend' %> application.
          This page is intended to be shown in development and on Heroku review apps. It
          won't be shown to users on GOV.UK because there are no routes to it.
        </p>

        <h2>Component guide</h2>

        <p>
          To see the available components, take a look at the <%= link_to 'component guide', '/component-guide' %>.
        </p>

        <h2>Configuration</h2>

        <table>
          <tr>
            <td>Content store</td>
            <td><%= link_to remove_secrets(Plek.find('content-store')), remove_secrets(Plek.find('content-store')) %></td>
          </tr>
          <tr>
            <td>Static</td>
            <td><%= link_to remove_secrets(Plek.find('static')), remove_secrets(Plek.find('static')) %></td>
          </tr>
        </table>

        <h2>Examples from GOV.UK</h2>

        <p>These pages are good examples of the types of pages rendered by this application.</p>
        <table>
          <% @paths.each do |name, path| %>
            <tr>
              <td>
                <%= name %>
              </td>
              <td>
                <%= link_to path, path %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>

      <%= render 'govuk_publishing_components/components/govspeak', content: html %>
    </main>
  </div>
</body>
</html>
