<% if @error %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/error_summary", {
        title: t('service_sign_in.error.title'),
        items: [
          {
            text: t('service_sign_in.error.option'),
            href: "##{@content_item.options_id}-0"
          }
        ]
      } %>
    </div>
  </div>
<% end %>
<%
  data_attrs = { module: "track-radio-group" }
  data_attrs["tracking-code"] = @content_item.tracking_code if @content_item.tracking_code
  data_attrs["tracking-domain"] = @content_item.tracking_domain if @content_item.tracking_domain
  data_attrs["tracking-name"] = @content_item.tracking_name if @content_item.tracking_name
%>
<%= form_tag({controller: 'content_items', action: 'service_sign_in_options'},
             method: "post",
             data: data_attrs,
             class: 'js-service-sign-in-form') do %>
  <% legend_text = render 'govuk_publishing_components/components/title', title: @content_item.title %>
  <%= render "govuk_publishing_components/components/fieldset", legend_text: legend_text do %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render 'govuk_publishing_components/components/govspeak', {} do %>
          <%= sanitize(@content_item.description) %>
        <% end %>
        <% if @error %>
          <%= render "components/error-message", text: t('service_sign_in.error.option') %>
        <% end %>
        <%= render "govuk_publishing_components/components/radio", id_prefix: @content_item.options_id, name: "option", items: @content_item.options %>
      </div>
    </div>
  <% end %>

  <%= render 'govuk_publishing_components/components/button', text: t('service_sign_in.continue'), margin_bottom: true %>
<% end %>
