<p>
  <%= image_tag "open-government-licence-min.png", class: "meta-data-licence" %>
</p>
<p>
  <%= t("html_publication.print_meta_data.copyright", year: @content_item.copyright_year) %>
</p>
<p>
  <%= t("html_publication.print_meta_data.licence_html") %>
</p>
<p>
  <%= t("html_publication.print_meta_data.third_party") %>
</p>
<p>
  <%= t("html_publication.print_meta_data.available_at", url: @content_item.full_path(request)) %>
</p>

<% unless @content_item.isbn.blank? %>
    <p>
      <%= t("html_publication.print_meta_data.isbn") %> <%= @content_item.isbn %>
    </p>
<% end %>
