<%
  green_background ||= false
  type ||= nil

  classes = %w[govuk-grid-row manuals-header]
  classes << "hmrc" if green_background
%>

<%= content_tag(:header, aria: { "labelledby": "manual-title" }, class: classes) do %>
  <div class='govuk-grid-column-two-thirds'>
    <% if type %>
      <span class="manual-type"><%= type %></span>
    <% end %>

    <%= render "govuk_publishing_components/components/heading", {
      text: content_item.title,
      font_size: "l",
      inverse: true,
      id: "manual-title",
      heading_level: heading_level,
      margin_bottom: margin_bottom,
    } %>

    <%
      # The metadata component on this page receives ga4_tracking: true as it has a 'See all updates' link.
      metadata_with_ga4_tracking = { ga4_tracking: true }
      metadata_with_ga4_tracking.merge!(content_item.manual_metadata) # @content_item is frozen so we make a new hash
    %>
    <%= render 'govuk_publishing_components/components/metadata', metadata_with_ga4_tracking %>

    <div class="in-manual-search">
      <%
        form_data = {
          module: "ga4-form-tracker",
          ga4_form_no_answer_undefined: "",
          ga4_form_include_text: "",
          ga4_form: {
            event_name: "search",
            type: "content",
            section: content_item.title,
            action: "search"
          }
        }
      %>
      <%= content_tag('form', action: "/search/all", data: form_data) do %>
        <input type='hidden' name="manual[]" value="<%= content_item.base_path %>">
        <%= render "govuk_publishing_components/components/search", {
          on_govuk_blue: true,
          label_text: t("manuals.search_this_manual"),
        } %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "govuk_publishing_components/components/breadcrumbs", {
           border: "bottom",
           breadcrumbs: @content_item.breadcrumbs,
           collapse_on_mobile: false } %>
