<%
  supertitle ||= nil
  green_background ||= false

  classes = %w[govuk-grid-row manuals-header]
  classes << "hmrc" if green_background
%>

<%= content_tag(:header, {
  "aria": { "labelledby": "manual-title" },
  class: classes
}) do %>
  <div class='govuk-grid-column-two-thirds'>

    <% if supertitle %>
      <span class="manual-type">
        <%= supertitle %>
      </span>
    <% end %>

    <%= render "govuk_publishing_components/components/heading", {
      text: content_item.title,
      font_size: "l",
      inverse: true,
      id: "manual-title",
      heading_level: heading_level,
      margin_bottom: margin_bottom,
    } %>

    <%= render 'govuk_publishing_components/components/metadata', content_item.manual_metadata %>

    <div class="in-manual-search">
      <form action="/search/all" >

        <input type='hidden' name="manual[]" value="<%= content_item.base_path %>">

        <%= render "govuk_publishing_components/components/search", {
          on_govuk_blue: true,
          label_text: t("manuals.search_this_manual"),
        } %>
      </form>
    </div>
  </div>
<% end %>