<header aria-labelledby="manual-title" class="govuk-grid-row manuals-header">
  <div class='govuk-grid-column-two-thirds'>

    <%= render "govuk_publishing_components/components/heading", {
      text: content_item.title,
      font_size: "l",
      inverse: true,
      id: "manual-title",
      heading_level: heading_level,
      margin_bottom: margin_bottom,
    } %>

    <%= render 'govuk_publishing_components/components/metadata', content_item.manual_metadata %>

    <div class="in-manual-search">
      <form action="/search/all" >

        <input type='hidden' name="manual[]" value="<%= content_item.base_path %>">

        <%= render "govuk_publishing_components/components/search", {
          on_govuk_blue: true,
          label_text: t("manuals.search_this_manual"),
        } %>
      </form>
    </div>
  </div>
</header>

<%= render "govuk_publishing_components/components/breadcrumbs", {
           border: "bottom",
           breadcrumbs: @content_item.breadcrumbs,
           collapse_on_mobile: false } %>

