<% show_contents ||= false %>

<% content_for :main do %>
  <div id="manuals-frontend">
    <% if show_contents %>
      <%= render "govuk_publishing_components/components/contents_list", {
        aria: { label: t("manuals.pages_in_manual_section") }, contents: @content_item.contents, underline_links: true
      } %>
    <% end %>

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <%= render "govuk_publishing_components/components/heading", {
              text: @content_item.document_heading.join(" - "),
              font_size: "l",
              id: "section-title",
              heading_level: 1,
              margin_bottom: 4,
            } %>
          </div>

          <% if @content_item.description.present? %>
            <div class="govuk-grid-column-two-thirds">
              <%= render "govuk_publishing_components/components/lead_paragraph", {
                text: @content_item.description
              } %>
            </div>
          <% end %>

          <%= yield %>
        </article>
      </div>
    </div>

    <%= render 'govuk_publishing_components/components/print_link' %>
  </div>
<% end %>
