<% content_for :main do %>
  <div id="manuals-frontend" class="manuals-frontend-body">

  <%= machine_readable_metadata(schema: :article) %>

  <div class="manual-body">
    <% if @content_item.description.present? %>
      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: @content_item.description
      } %>
    <% end %>
    <% if @content_item.body.present? %>
      <%= render "govuk_publishing_components/components/govspeak", {} do %>
        <%= raw(@content_item.body) %>
      <% end %>
    <% end %>

    <%= yield %>

    <%= render 'govuk_publishing_components/components/print_link' %>
  </div>
<% end %>