<div class="govuk-grid-row">
  <div class="manual-body" id="content">
    <article aria-labelledby="section-title">
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/heading", {
          font_size: "l",
          heading_level: 1,
          id: "section-title",
          margin_bottom: 4,
          text: t("manuals.updates_title", title: content_item.title),
        } %>
      </div>

      <% content_item.presented_change_notes.each do |year, updates_by_year| %>
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: year,
            font_size: "l"
          } %>

          <%= render "govuk_publishing_components/components/accordion", {
            heading_level: 3,
            items: updates_by_year.map do |day, updated_documents|
              accordion_content = capture do %>
                <div class="govuk-!-margin-top-3">
                  <% updated_documents.each do |_, change_notes| %>
                    <% change_notes.each do |change_note| %>
                      <p class="govuk-body"><%= link_to change_note["title"], change_note["base_path"], class: "govuk-link" %></p>
                      <%= simple_format(change_note["change_note"], class: "govuk-body") %>
                    <% end %>
                  <% end %>
                </div>
              <% end

              {
                heading: {
                  text: day,
                },
                content: {
                  html: accordion_content
                }
              }
            end
          } %>
        </div>
      <% end %>
    </article>
  </div>
</div>

<%= render "govuk_publishing_components/components/print_link" %>
