<div class="govuk-grid-row">
  <div class="manual-body" id="content">
    <article aria-labelledby="section-title">
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/heading", {
          font_size: "l",
          heading_level: 1,
          id: "section-title",
          margin_bottom: 4,
          text: t("manuals.updates_title", title: content_item.title),
        } %>
      </div>

      <% content_item.presented_change_notes.each do |year, updates_by_year| %>
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: year,
            font_size: "l"
          } %>

          <%
            show_all_attributes = {
              event_name: "select_content",
              type: "accordion",
              index: 0,
              index_total: updates_by_year.length,
            }
          %>
          <%= render "govuk_publishing_components/components/accordion", {
            heading_level: 3,
            data_attributes_show_all: {
              "ga4": show_all_attributes.to_json
            },
            items: updates_by_year.each.with_index(1).map do |updated_documents, index|
              accordion_content = capture do %>
                <% change_notes = updated_documents.last %>
                <div class="govuk-!-margin-top-3">
                  <% change_notes.each do |change_note_entry| %>
                    <% change_note = change_note_entry.flatten.last %>
                    <p class="govuk-body">
                      <%= link_to change_note["title"], change_note["base_path"], class: "govuk-link" %>
                    </p>
                    <%= simple_format(change_note["change_note"], class: "govuk-body") %>
                  <% end %>
                </div>
              <% end
              {
                data_attributes: {
                  module: "ga4-event-tracker",
                  ga4: {
                    event_name: 'select_content',
                    type: 'accordion',
                    text: sanitize_manual_update_title(updated_documents.first),
                    index: index,
                    index_total: updates_by_year.length,
                  }
                },
                heading: {
                  text: updated_documents.first,
                },
                content: {
                  html: accordion_content
                }
              }
            end
          } %>
        </div>
      <% end %>
    </article>
  </div>
</div>

<%= render 'govuk_publishing_components/components/print_link', {
  data_attributes: {
    module: "ga4-event-tracker",
    ga4: {
      event_name: 'print_page',
      type: 'Print this page',
      index: 1,
      index_total: 1,
      section: 'Footer',
    },
  },
} %>
