<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - GOV.UK</title>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application" %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><script>var ieVersion = 6;</script><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><script>var ieVersion = 7;</script><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><script>var ieVersion = 8;</script><![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" class="<%= wrapper_class %>">
    <main role="main" id="content" class="<%= yield(:page_class) %>" lang="<%= I18n.locale %>">
        <%= yield %>
    </main>
  </div>
</body>
</html>
