<!DOCTYPE html>
<html>
<head>
  <title lang="<%= I18n.locale %>">
    <%if content_for?(:title) %>
      <%= yield :title %> - GOV.UK
    <% else %>
      <%= @content_item.page_title %> - GOV.UK
    <% end %>
  </title>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application", integrity: true, crossorigin: 'anonymous' %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><script>var ieVersion = 6;</script><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><script>var ieVersion = 7;</script><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><script>var ieVersion = 8;</script><![endif]-->
  <% if Rails.env.test? && params[:medium] == 'print' %>
    <%= stylesheet_link_tag "print.css", :media => "screen", integrity: true, crossorigin: 'anonymous' %>
  <% else %>
    <%= stylesheet_link_tag "print.css", :media => "print", integrity: true, crossorigin: 'anonymous' %>
  <% end %>
  <%= javascript_include_tag "application", integrity: true, crossorigin: 'anonymous' %>
  <%= csrf_meta_tags %>
  <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item.content_item %>

  <%= related_links_variant.analytics_meta_tag.html_safe %>

  <% if @content_item.description %>
    <meta name="description" content="<%= strip_tags(@content_item.description) %>" />
  <% end %>

  <%= yield :extra_head_content %>
</head>
<body>
  <% unless content_for(:simple_header) %>
    <%= render 'govuk_publishing_components/components/government_navigation', active: active_proposition %>
  <% end %>

  <div id="wrapper" class="<%= wrapper_class %>">
    <%= render_phase_label @content_item, content_for(:phase_message) %>

    <% if @content_item.try(:back_link) %>
      <%= render 'govuk_publishing_components/components/back_link', href: @content_item.back_link %>
    <% elsif @content_item.is_secondary_to_one_step_nav? %>
      <%= render 'govuk_publishing_components/components/step_by_step_nav_header', @content_item.single_step_by_step_header %>
    <% else  %>
      <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item.content_item.parsed_content %>
    <% end %>

    <main role="main" id="content" class="<%= @content_item.schema_name.dasherize %>" lang="<%= I18n.locale %>">
      <%= yield %>
    </main>
    <%= render 'govuk_publishing_components/components/feedback' %>
  </div>
</body>
</html>
