<!DOCTYPE html>
<html>
<head>
  <title lang="<%= I18n.locale %>">
    <%if content_for?(:title) %>
      <%= yield :title %> - GOV.UK
    <% else %>
      <%= @content_item.page_title %> - GOV.UK
    <% end %>
  </title>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application", integrity: true, crossorigin: 'anonymous' %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><script>var ieVersion = 6;</script><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><script>var ieVersion = 7;</script><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><script>var ieVersion = 8;</script><![endif]-->
  <% if Rails.env.test? && params[:medium] == 'print' %>
    <%= stylesheet_link_tag "print.css", :media => "screen", integrity: true, crossorigin: 'anonymous' %>
  <% else %>
    <%= stylesheet_link_tag "print.css", :media => "print", integrity: true, crossorigin: 'anonymous' %>
  <% end %>
  <%= javascript_include_tag "application", integrity: true, crossorigin: 'anonymous' %>
  <%= csrf_meta_tags %>
  <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item.content_item %>

  <% if @content_item.description %>
    <meta name="description" content="<%= strip_tags(@content_item.description) %>" />
  <% end %>

  <meta property="og:site_name" content="GOV.UK" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= @content_item.web_url %>" />
  <meta property="og:title" content="<%= @content_item.page_title %>" />
  <meta property="og:description" content="<%= strip_tags(@content_item.description) %>" />

  <% if @content_item.respond_to?(:image) && @content_item.image %>
    <meta property="og:image" content="<%= @content_item.image["url"] %>" />
    <meta property="og:image:alt" content="<%= @content_item.image["alt_text"] %>" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="<%= @content_item.image["url"] %>" />
    <meta name="twitter:image:alt" content="<%= @content_item.image["alt_text"] %>" />
  <% else %>
    <meta name="twitter:card" content="summary" />
  <% end %>

  <%= contextual_comms_test_variant.analytics_meta_tag.html_safe if whitelisted_campaign_page? %>
  <%= yield :extra_head_content %>
</head>
<body>
  <% unless content_for(:simple_header) %>
    <%= render partial: 'govuk_component/government_navigation', locals: { active: active_proposition } %>
  <% end %>

  <div id="wrapper" class="<%= wrapper_class %>">
    <%= render_phase_label @content_item, content_for(:phase_message) %>
    <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item.content_item.parsed_content %>
    <main role="main" id="content" class="<%= @content_item.schema_name.dasherize %>" lang="<%= I18n.locale %>">
      <%= yield %>
    </main>
    <%= render 'govuk_publishing_components/components/feedback' %>
  </div>
</body>
</html>
