<!DOCTYPE html>
<html>
<head>
  <title lang="<%= I18n.locale %>">
    <%if content_for?(:title) %>
      <%= yield :title %> - GOV.UK
    <% else %>
      <%= @content_item.page_title %> - GOV.UK
    <% end %>
  </title>

  <% if ENV['HEROKU_APP_NAME'].present? %>
    <meta name="robots" content="noindex, nofollow">
  <% end %>

  <%= stylesheet_link_tag "application", integrity: false %>
  <% if Rails.env.test? && params[:medium] == 'print' %>
    <%= stylesheet_link_tag "print.css", :media => "screen", integrity: false %>
  <% else %>
    <%= stylesheet_link_tag "print.css", :media => "print", integrity: false %>
  <% end %>
  <%= javascript_include_tag "application", integrity: false %>
  <%= csrf_meta_tags %>
  <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item.content_item %>

  <% if @content_item.description %>
    <meta name="description" content="<%= strip_tags(@content_item.description) %>" />
  <% end %>
  
  <%= cookieless_variant.analytics_meta_tag.html_safe %>
  <% unless cookieless_variant.variant?('Z') %>
    <meta name="Cookieless-Variant" content="<%= cookieless_variant.variant_name %>" data-module="track-variant">
  <% end %>

  <%= yield :extra_head_content %>
</head>
<body>
  <% unless content_for(:simple_header) %>
    <%= render 'govuk_publishing_components/components/government_navigation', active: active_proposition %>
  <% end %>

  <div id="wrapper" class="<%= wrapper_class %>">
    <% if @content_item.show_phase_banner? %>
      <%= render 'govuk_publishing_components/components/phase_banner', phase: @content_item.phase %>
    <% end %>

    <% unless @do_not_show_breadcrumbs %>
      <% if @content_item.try(:back_link) %>
        <%= render 'govuk_publishing_components/components/back_link', href: @content_item.back_link %>
      <% else %>
        <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item.content_item.parsed_content %>
      <% end %>
    <% end %>

    <main role="main" id="content" class="<%= @content_item.schema_name.dasherize %>" lang="<%= I18n.locale %>">
      <%= yield %>
    </main>
    <%= render 'govuk_publishing_components/components/feedback' %>
  </div>
</body>
</html>
