<% content_for :head do %>
  <% if @content_item.description.present? %>
    <meta name="description" content="<%= strip_tags(@content_item.description) %>" />
  <% end %>
  <%= csrf_meta_tags %>
  <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item.content_item %>
<% end %>

<% title = capture do %>
  <% if content_for?(:title) %>
    <%= yield :title %> - GOV.UK
  <% else %>
    <%= @content_item.page_title %> - GOV.UK
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
    title: title,
  } do %>
  <div id="wrapper" class="govuk-width-container <%= wrapper_class %>">
    <% if @content_item.show_default_breadcrumbs? %>
      <% if @content_item.try(:back_link) %>
        <%= render 'govuk_publishing_components/components/back_link', href: @content_item.back_link %>
      <% else %>
        <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item.parsed_content_item %>
      <% end %>
    <% end %>

    <%= render "govuk_web_banners/recruitment_banner" %>
    <%= yield :header %>

    <main role="main" id="content" class="<%= @content_item.schema_name.dasherize %> govuk-main-wrapper govuk-main-wrapper--auto-spacing" lang="<%= I18n.locale %>">
      <span id="Top"></span>
      <%= yield %>
    </main>
  </div>
<% end %>